[2018-05-12 08:31] aswanipranjal opened #1 "Better and complete descriptions of the metrics under GMD"
Hey all

Some of the metrics under GMD have incomplete information about how to calculate them. Example:
- [issue-resolution-efficiency](https://github.com/chaoss/metrics/blob/master/activity-metrics/issue-resolution-efficiency.md): how do we say that an issue has been abandoned?
- [open-issue-age](https://github.com/chaoss/metrics/blob/master/activity-metrics/open-issue-age.md): do we calculate t

[2018-05-13 12:09] germonprez commented on #1
Hi @aswanipranjal, you're right :)

The way that this has evolved as been for us to capture the metrics that people would like to see (even if there is not necessarily a known implementation). In essence, we have cast a wide net to listen to what people would like.

That said, as work in places like the GMD workgroup find ways to implement in any respective technology (GL, Augur, Kibble), they can

[2018-05-13 14:30] aswanipranjal commented on #1
@germonprez, it is a wide net indeed :P I am also trying to implement them in manuscripts according to my understanding. I'll update on them once I have a better understanding and I solidify my ideas.

[2018-05-16 17:25] jgbarah opened #4 "Clean-up repository"
We still have some Markdown files in the activity-metrics directory corresponding to metrics that are not used in GMD. I think we should remove them. I didn't just in case I'm missing something... Please, anyone interested, comment here. If we agree, I can do the job later (but prs by anybody are welcome).

[2018-05-17 09:21] aswanipranjal opened #5 "GMD: issue resolution efficiency - What are abandoned issues?"
Following #1, What exactly are abandoned issues and how can they be calculated?
- Are there any use cases available?
- Is there a formula to calculate it?
- A solid definition?

Under: [Issue resolution efficiency](https://github.com/chaoss/metrics/blob/master/activity-metrics/issue-resolution-efficiency.md)

[2018-05-17 09:25] aswanipranjal opened #6 "GMD: Open issue age - to average or not to average?"
Following #1,
[Open issue age](https://github.com/chaoss/metrics/blob/master/activity-metrics/open-issue-age.md), do we calculate the average age of all the open issues or do we look at each issue individually? I think that latter is better because that way we know which issues have been neglected for too long and can also create good visualisations.

[2018-05-17 09:29] aswanipranjal opened #7 "GMD: Closed Issue Resolution Duration"
Following #1,
[Closed issue resolution duration](https://github.com/chaoss/metrics/blob/master/activity-metrics/closed-issue-resolution-duration.md). As the name suggests: is this the time since an issue has been resolved? Again, do we look at all the issues or do we take an average?

Also, the definitions might need some improvement.

[2018-05-23 12:17] GeorgLink commented on #6
I think both are valid ways for displaying and filtering the open issue age. The implementation is a choice of the implementer.

[2018-05-23 12:21] GeorgLink commented on #5
I'll throw this out there:

I consider issues abandoned if there has been no activity within the last XX days.

Activity can be new comments, new reactions, new pull requests, changed labels, changed milestones, or changed assignments.

What the threshold of XX days is supposed to be, that can be a parameter chosen by the user, after all each community works differently, but I think 30 days might

[2018-05-23 13:02] jgbarah commented on #5
I agree with @GeorgLink. However, maybe we should also have into account issues that are closed without fixing (eg, "won't fix"), but that's a bit more tricky (see below).

I think we can, for now, go with the approach @GeorgLink suggests, but in that case, I would change the name to "unattended issues", which is maybe more precise for that case. And is a useful metric, indeed.

We can also open a

[2018-05-23 13:06] jgbarah commented on #6
But I think still we need an aggregator, if the metric is to be understood as a such (eg, a measurement).

If we agree to use an aggregator, I would use the median, because distributions of this kind tend to be very skewed, and the mean does not provide much information (not being the distribution normal). Maybe a better approach is to (when defining the metric) state that "appropriate statistics

[2018-05-23 13:11] jgbarah commented on #7
I agree with @GeorgLink for the definition. To make it more clear from the name, I would change the name to "time-to-resolution of closed issues", or maybe more clear, "time-to-close of closed issues".

WRT aggregation, same comments that those in #6 apply.

In addition, calculating it for specific periods of time (as @GeorgLink) suggests, is sensible, but maybe that depends on the granularity of

[2018-05-23 13:15] jgbarah commented on #5
Re-reading the metric, maybe the ratio for efficiency would be better defined based on issues open / issues closed (instead of issues abandoned) during a certain period. In the end, it is related to the throughput, I think.

[2018-05-23 13:23] GeorgLink commented on #6
​+1 to percentiles, although a visual representation may be easier to
comprehend for most uses.

[2018-05-23 21:38] jgbarah commented on #6
I agree with having also a visual representation. I think that for all metrics, we could have some aggregators, and one or more "preferred" visualizations.

[2018-05-25 05:12] aswanipranjal commented on #5
@jgbarah: shouldn't it be: [number of issues closed (with a fix)] / [Number of total issues created]?

[2018-05-25 09:29] jgbarah commented on #5
There are two issues with that:

* If you're interesting in how you cope with the issues being open, it is the ratio close/open what matters. In that case, it is not relevant why the issue was closed.
* If you're interested in how much you are fixing problems, yes, your definition is more accurate. But AFAIK, there is no way, at least in some issue trackers, such as GitHub's, to determine if an is

[2018-05-25 17:16] GeorgLink commented on #5
I like @aswanipranjal's proposal of putting Number of total issues in the denominator, because otherwise the 4/2 will show up the same as 20/10 and 1/0 is undefined.

Total number of issues will also be time-boxed, of course.

[2018-05-27 17:40] aswanipranjal commented on #5
@GeorgLink, @jgbarah: to summarize, we can have 2 outputs for this metric:
-  abandoned issues i.e the ones which in which there was no comment/reaction or activity of any sorts for a certain XX duration of time (initially 30 days).
- `[total number of issues that were closed with a fix]`/`[total number of issues in the repo]` (here: fix is equals to a PR corresponding to that issue).

[2018-05-27 18:39] aswanipranjal commented on #6
@jgbarah, @GeorgLink: I'll calculate the percentile, mean and variance. And i'll create a visualization so we can use what we like.

[2018-05-28 09:02] aswanipranjal opened #8 "GMD: first response to issue duration"
Following #1, the definition states: *Time between a new issue is opened and a maintainer responds*.
- Who is considered to be a maintainer? In the raw index, the users have 5 types of author_association: None, Owner, Collaborator, Contributor and Member. So are the latter 4 the maintainers for that project?
- What can be considered as a response? A reaction or a comment?

metric: [first response

[2018-05-29 16:37] aswanipranjal opened #9 "New contributors"
Following #1
How should new contributors be calculated?

By the commit that a user produces and looking at the first commit when the user produced it? Will that user then be a new contributor for that month?

[2018-05-29 16:39] aswanipranjal opened #10 "New contributing organizations"
Following #1

I think this is similar to #9. How should new contributing organisations be calculated?
Can anyone expand on it please?

[2018-06-01 21:27] sgoggins opened #11 "What are sub-projects?"
There are a number of ways subprojects can be defined.  I think we need a more clear definition of what subprojects are here: https://github.com/chaoss/wg-gmd/blob/master/activity-metrics/sub-projects.md

Possibly following a discussion

[2018-06-04 07:13] jgbarah commented on #11
I agree. Besides, I see the number of projects more like an organizational way (how the project decides to think about itself) than something related to activity, or to GMD. What do you think?

[2018-06-05 21:11] jgbarah commented on #5
@aswanipranjal, the absence of a pr does not always mean the bug was not fixed (it depends on whether the project is using always prs, and how they are using them). Besides, if the ticket was not about a real bug (bug a question, for example), you really don't need to close it by fixing anything.

So, I would stick to issues closed / issues open per month. That has a clear interpretation in terms

[2018-06-05 21:19] jgbarah commented on #9
We can split the metric in "new contributor for ..." where we have several kinds of contributors:

* merged commit (a commit by this person first appears in the git repo)
* opened issue (this person opens an issue for the first time)
* closed issue  (this person closes an issue for the first time)
* opened pull request (this person opens a pull request for the first time)
* merged (accepted) pull

[2018-06-05 21:21] jgbarah commented on #8
I think we could start that way...

Again, I think we could start that way...

[2018-06-06 00:45] GeorgLink commented on #5
​These are all sensible. +1

I would like one clarification on "issues closed during period / issues
opened during period"

Issues opened is clear. Issues closed: are those the same issues that were
opened, but whether they were closed at any time after their creation? Or
are issues closed the ones that were closed during that time period but
could have been created before? The problem with the la

[2018-06-06 16:20] aswanipranjal commented on #5
Okay, for now we stick to this.

Yeah! I was thinking that generally there is a PR to an issue which closes it, so we could get relations and derive some useful data from that. We can look into it later.

This works too!

Apart from this, I have the same question as Georg. @jgbarah can you elaborate a little more on issues closed during period/ issues open during period?

[2018-06-06 17:12] aswanipranjal commented on #8
These still have to be implemented so that we can calculate them from the enriched indices directly as I mentioned in chaoss/grimoirelab-elk#364.  I'll start working on this.

[2018-06-06 17:28] aswanipranjal commented on #9
Sounds like a good idea! But this too requires us to better enrich the indices and collect more data. But all these combined will give us good insights about the communities growth and outreach.

[2018-06-06 22:03] jgbarah commented on #5
@GeorgLink said:

In my opinion, the metric which is useful is "how much you close during this period related to how much is open". If you're closing less than it is opened (whenever the closed stuff was opened), you're accumulating work for the future. If you're closing more than is opened (whenever the closed stuff was opened), you're shortening the queue of pending work. For the metric to be th

[2018-06-06 22:14] jgbarah commented on #5
BTW, a complementary metrics would be the backlog: how many bugs remain open at the end of the period. This captures the effect that maybe throughput is sort of good, because the project is focusing on closing bugs which are recent, but ignoring for longer and longer periods bugs that are old (and maybe difficult to close). The backlog can also be absolute or relative, and usually (in my opinion)

[2018-06-06 22:17] GeorgLink commented on #5
How about, instead of building a ratio, displaying the two numbers for the same timeframe:

![example](https://4.bp.blogspot.com/-NtLZsKIzoHM/UVbbGaj57nI/AAAAAAAAD4E/PI3odzwg0jQ/s1600/Captureckdk.JPG)

[2018-06-07 21:52] jgbarah commented on #5
That's a nice presentation, thanks for the suggestion. But still, in addition to that (which I like to have), we need a number, that we can compare from project to project... Your presentation is a good complementary view of issues opened and issues closed in the same chart, but doesn't show to which extent the project is coping with pending work, I think...

[2018-06-07 21:55] GeorgLink commented on #5
Ageed

[2018-06-11 10:43] aswanipranjal commented on #5
@jgbarah, @GeorgLink: We can create a presentation that Georg mentioned above for

- ` total number of bugs still open at the end of the period / (total number of bugs opened during the period + total number of bugs open at the beginning of the period)` and
- `total number of bugs closed during the period / (total number of bugs opened during the period + total number of bugs open at the beginning

[2018-06-12 22:55] jgbarah commented on #5
I've tried to condense the results of this discussion in pull request #12.

[2018-06-16 07:33] aswanipranjal opened #14 "Who can be considered a maintainer for a project?"
AFAIK a maintainer is a user who has PUSH privileges to a codebase and how can approve of the changes made by other users. Currently the users are being divided into:  None, Owner, Collaborator, Contributor and Member. Out of these, I think Only Owner of the repo can be considered as a maintainer because they'll be deciding which code is included into the project or not.

Apart from that, we can s

[2018-06-18 10:54] jgbarah commented on #14
Hi, @aswanipranjal when you say "Currently the users are being divided into: None, Owner, Collaborator, Contributor and Member", you mean in the GitHub API, right?

[2018-06-22 04:41] aswanipranjal commented on #14
Yes, @jgbarah.

[2018-06-23 11:08] aswanipranjal commented on #9
@jgbarah: as per the [discussions on the mailing lists](https://lists.linuxfoundation.org/pipermail/oss-health-metrics/2018-June/000707.html), these metrics have to be derived and time bound, right?

[2018-06-27 05:18] #8 closed

[2018-07-02 21:58] BenLloydPearson opened #15 "Development Velocity Meta Metric"
Based on the discussions we had in the working group meeting last week. Here is my proposed meta-metric (super-metric) for development velocity.

# Background
When evaluating the success of an open source community, one of the most basic things to evaluate is how quickly new code or content is produced and merged into the mainline project, and whether this rate is increasing, decreasing, or stayin

[2018-07-12 16:16] sgoggins commented on #15
@BenLloydPearson and @germonprez : If you take a look at the default representation of most metrics on the Augur project, we have time series data presented by default. http://dev.augurlabs.io/?repo=rails+rails

[2018-07-12 16:17] sgoggins commented on #15
I think we want to have definitions put together in a markdown file.

[2018-07-12 16:20] sgoggins commented on #15
Maybe we add "Velocity" as straight up "event counting" for a particular metric.

[2018-07-12 16:32] #9 closed

[2018-07-12 16:33] jgbarah opened #16 "Clarify what organizations is"
To avoid confusion, in tables talking about "organizations", clarify that's not "GitHub organizations", but organizations as the project or the stakeholder may understand them.

[2018-08-02 16:11] klumb commented on #4
As part of aligning and defining CHAOSS processes, I can start working on this.

[2018-08-15 16:18] #5 closed

[2018-09-06 20:13] klumb opened #18 "Naming convention issue - moved from metrics repo"
I am going through the metrics markdown files and finding a lot of repetition. I would like to push a fix that will allow us to get these pages up to date and easier to work with.

Besides some basic editing, I think we need to agree on a standard naming convention for these files. I propose:
"the name of the resource being measured"-"more_description_if_necessary"- "the_measurement_if_necessary".

[2018-09-06 20:27] ccarterlandis commented on #18
I think this is very much needed. In working on the Augur metrics status page, I realized two concepts: an `ID` and a `tag`. While it applies to Augur in a slightly different way, I think that it could still be useful.

Within Augur's idea of metrics, each metric has a `tag`, which is what the working group defines as the metric's "name" if you will. Each metric also has an `ID`, which is created

[2018-09-06 21:39] klumb commented on #18
Yes @GeorgLink

Sorry I should have linked it.

[2018-09-06 22:03] klumb commented on #18
Please see https://github.com/klumb/wg-gmd
for an example.

Please note that we are talking about the naming convention for the files in the resource folder and not the content of the file. I believe the files will need to be edited as well but that is a different issue.

[2018-09-06 22:46] GeorgLink commented on #18
@ccarterlandis wrote:

I see where you are coming from and it makes for an implementation like Augur. I agree also, that from the CHAOSS metrics perspective, we want to stay implementation agnostic and not tie a metric definition to the data source. What you call `tag` could then be the canonical definition and within that page, we could have a section talking about the intricacies of implementing

[2018-09-07 13:15] klumb commented on #18
Thanks for the google document @GeorgLink. I think D&Is Question/resource pages match up to the aggregate metrics pages we are wanting to create in GMD.

I think one of the reasons there is confusion here is because we are coming at it from a different directions. We are working with activity metrics that are for the most part already defined. I believe our goal right now is to establish standards

[2018-09-07 14:08] GeorgLink commented on #18
Perfect. Much to learn from this discussion.

On Fri, Sep 7, 2018, 08:15 Kevin Lumbard <notifications@github.com> wrote:

[2018-10-06 00:49] klumb opened #25 "Standardized names for entities"
From Mailing List

**dmg**

I would like to suggest that as part of CHAOSS, there is also an attempt to standardize how to call an entity
in a repository/database. Note these are not the names of the entities, but their abbreviations.

This is what I mean:

1. Entities.
A commit has a commit id,  "author" and a "committer" and a  authorship-date, and a committing date.
What should we call them?

c

[2018-10-30 17:19] rpaik opened #33 "Use Case: Efficiency in reviewing contributions from first-time contributors"
A first-time contributor could be easily discouraged if no one reviews/acknowledges their work in a timely manner. Following are number of questions that can help evaluate responsiveness for first-time contributors.

- What percentage of first-time contributions are accepted?
- What percentage of contributions from first-time contributors are accepted vs. `core developers`?
- How long does it take

[2018-10-30 21:12] GeorgLink commented on #33
Thanks @rpaik

First-time contributors seem to be easily defined as those who have no prior contributions.

Do we have a definition for `core developers` (or `core contributors`)?

[2018-10-30 22:31] jgbarah commented on #33
@GeorgLink said:

Good question. Maybe we could work with an intuitive idea of what core developers (contributors) are, as those who perform most of the contributions, until we define the specific metrics.

In any case, we could define that either:

* In administrative terms: developers with admin privileges, or nominated as such by the project (which is difficult to generalize, but in some specif

[2018-10-30 22:35] jgbarah commented on #33
When particularizing, we should also define "contribution". For example, a commit is (I think) clearly a contribution. Maybe, at least for a start, we could concentrate on this. But there are other kinds of conributions... What do you think @rpaik: for focusing, we consider only code contributions in the form of commits, or we try to extend to other kinds of contributions?

(I would focus on code

[2018-10-30 22:36] jgbarah commented on #33
For the questions, from my side we could start with these ones, and start thinking about metrics for answering them right away.

[2018-10-31 10:58] jgbarah commented on #25
Thanks for putting this together, @klumb. Can we consider this is being addressed by #24 and maybe #34 for now, and close this issue?

[2018-10-31 11:05] jgbarah commented on #18
Oooops. I'm sorry, this was below my radar.

Yes, I find the naming conventions important, mainly to use the same name to the same concept, and to have a convention that allows us to group names according to prefixes, etc. But I think this is discussion is different from how to do goal-question-metric, so I would have it in a separate ticket. And for me, using chaoss/wg-diversity-inclusion#66 for

[2018-10-31 11:08] jgbarah opened #35 "Explain in the main README.md what is GMD"
This working group is about Growth-Maturity-Decline metrics. But it is not always obvious which metrics fall in this category. I suggest to have some text in the main `README.md` file of this repo stating what GMD is. We can start with a pull request on that file, and if needed have a discussion on that pull request.

@sgoggins could you please write a first draft, since I think you're the person

[2018-10-31 11:10] jgbarah commented on #15
@BenLloydPearson, since now we have [use cases](https://github.com/chaoss/wg-gmd/tree/master/use_cases), what do you think about converting this into a use case, for further discussing it? If you want, I can open the issue to start the discussion.

[2018-10-31 11:13] jgbarah commented on #14
i'm closing this for now, since this is part of a broader discussion on the concepts that we deal with for the metrics. Please, feel free to reopen if you think it is better to follow on here.

[2018-10-31 11:13] #14 closed

[2018-10-31 11:15] jgbarah commented on #10
Closing for now, for the same reason that #9.

[2018-10-31 11:15] #10 closed

[2018-10-31 11:16] jgbarah commented on #7
I think this is closed now, by #24.

[2018-10-31 11:16] #7 closed

[2018-10-31 11:17] jgbarah commented on #6
Closing this as it seems it doesn't need further discussion.

[2018-10-31 11:17] #6 closed

[2018-10-31 11:18] jgbarah commented on #4
I think this is done for now, thanks to the work by @klumb and others. Thanks!!!

[2018-10-31 11:18] #4 closed

[2018-10-31 11:19] jgbarah commented on #1
Since all child issues are closed, I think we can close this one as well. Please reopen if you feel that's needed.

[2018-10-31 11:19] #1 closed

[2018-10-31 15:23] klumb commented on #25
Yes, I believe we can close this.

[2018-10-31 15:23] #25 closed

[2018-10-31 15:23] klumb commented on #18
Yes, I believe we can close this.

[2018-10-31 16:17] sgoggins commented on #35
@jgbarah : Yes, I will do that today.

[2018-10-31 16:19] sgoggins commented on #33
I wonder if "core" contributors need something of an explicit definition. For example, perhaps this means maintainers? Or, it could be people who are active in several aspects of the project above a certain threshold? Or, is it newcomers or "not newcomers"

[2018-10-31 16:28] jgbarah commented on #33
Let's use some vocabulary definitions, for terms like "contributor", "new contributor", and "core developer", so that the use case is more clear.

[2018-10-31 16:47] jgbarah commented on #33
I've opened #40 for having this section with a vocabulary in use cases.

[2018-10-31 16:50] jgbarah opened #41 "Add risk and value as new focus area for this working group"
In our weekly meeting we decided to accept value and risk as two new focus areas for this GMD working group. We need to include them in `README.md`, `gmd_metrics.md`, and copy the directories with their current data in our `focus_areas` directories.

[2018-10-31 16:50] jgbarah commented on #41
@sgoggins I understood you were to take care of this, so I'm assigning this ticket to you. If I'm wrong, just reassign it to me, please.

[2018-10-31 16:51] jgbarah commented on #18
OK, thanks. Closing...

[2018-10-31 16:51] #18 closed

[2018-10-31 23:29] rpaik commented on #33
I agree @jgbarah.  I think we can focus on code contribution for now.  As for the definition of "core contributors", I think we should use what we already have at https://github.com/chaoss/grimoirelab-sigils/blob/master/doc/community-structure.md.  So it could be something like people who made 80% of contribution over the 6 month period (or may be a year).  I'll also add my comments on https://git

[2018-11-05 13:15] jgbarah commented on #33
OK, if nobody objects, let's focus, at least for now, on git contributions (commits). That would make "contributors" as "people who are authors of commits", right? (notice that I'm saying "people" and not "identities", since I guess it is persons what matters here).

We can also consider that core is the minimum set of contributors with a certain percentage of participation (such as 80%) during so

[2018-11-05 14:18] sgoggins commented on #33
I think we risk creating a box that we are stuck in if we become quantitatively precise in our definition of "core contributors" in this way. These percentages smell more like parameters or filters that we would apply to specific metrics like "commits".

What would a definition look like then?

First, I think we are defining "core code contributors", not "core contributors"; as "core contributors"

[2018-11-05 14:53] sgoggins commented on #15
@BenLloydPearson & @jgbarah : Ben's proposal "sounds" to me more like a straight up metric than a use case ... I say this mostly because I cannot think of, off the top of my head, the various different actors who would be interested in velocity outside the context of a family of other metrics. ... by itself, I am not sure its a "use case"; but I think it might be part of another use case.

My sens

[2018-11-05 17:11] jgbarah commented on #15
I was thinking of a very simple use case, like "Learning about how quickly new code or content is produced and merged into the mainline project" (borrowing from a sentence in the Background section). From this, questions are already mentioned, and we could (maybe) discuss about some other metrics. But I was just wondering... Now, I'm sort of focused on use cases, and you know, when you have a hamm

[2018-11-05 17:21] jgbarah commented on #33
I agree that having a specific definition of core contributions is going to cause some boxing, to a use case that could be useful in any case. So, one idea could be to avoid defining "core", and let that to the user of the use case.

OTOH, any kind of more precise definition is going to cause some "boxing". For example, if we define based on commit rights, that's going to be dependent on project p

[2018-11-05 17:33] jgbarah commented on #33
A final note. As I commented above, use cases are always going to consider a certain option among all the possible ones. Of course there are many other ways of contributing, but if for an specific stakeholder commits is the one they want to consider, that's fine. We can of course have other alternative, or more general, use cases. Same for how they define "core", if that is important for their sce

[2018-11-06 01:43] BenLloydPearson commented on #15
I don't really think this fits into the idea of a use case because I think it would likely have value for many  use cases. With that said, I don't really have time to develop this idea further, and I suspect that the use case model might be better for providing a higher level understanding that what I'm proposing here. I'll close this for now and reopen it if I think the idea is worth revisiting.

[2018-11-06 01:43] #15 closed

[2018-11-06 04:55] rpaik commented on #33
To make things simple, we can look only at questions for `first-time contributors` to start with.  I think comparison against more experienced contributors are definitely interesting, but if defining what we mean by `experienced contributors` isn't straightforward I think we can skip that for now.

BTW, I'm not sure if LOC is any better than the number of commits.  Just because someone wrote more

[2018-11-06 08:41] jgbarah commented on #33
OK, if you agree, let's do it this way:

* For the description of the use case, and goals, let's just mention "code contributions", "new contributors" and "experienced contributors" (I use "new" instead of "first-time" to allow for some metrics comparing eg, the first three commits instead of just the first one).

* For the questions / metrics, let's make this particular, following the xx% rule ov

[2018-11-06 08:44] jgbarah commented on #15
OK, @BenLloydPearson, thanks. In any case, let's keep this idea in mind when we do the goal-question-metric for the different focus areas.

[2018-11-07 17:03] sgoggins commented on #41
@jgbarah : yes. Me.

[2018-11-07 17:20] sgoggins commented on #33
@rpaik @jgbarah : I agree that we will make the use cases specific, which ensures that we get solid stakeholder engagement.

The Goals/Questions/Metrics may be parameterized in a way to support use cases.

[2018-11-07 17:28] jgbarah opened #43 "Fix broken links"
Links from focus areas files to specific metrics are broken. We need to fix them.

[2018-11-07 21:26] jgbarah opened #44 "Refine code development focus area"
Following the top-level approach that we intend to use for defining metrics, we will start by refining goals, questions and metrics in the code development focus area. First, we will better define scope and goals. Then, we will work on the questions to inform those goals. Than, we will find out which metrics can help to answer those questions. We will use this ticket for general discussions. When

[2018-11-07 21:32] jgbarah commented on #44
Let's start with defining the scope for this focus area. From my memories of the meeting today, we could define as "Aspects related to how the source code changes over time, and the mechanisms that the project has to perform and control those changes".

What do you think about this?

[2018-11-07 21:33] jgbarah commented on #44
With respect to goals for this focus area, again from my memories from our last meeting:

* Learning how effective new code is merged into the code base
* Learning about the processes to improve/review quality that are used (for example: testing, code review)

Add your goals to this list ;-) (or comment on how appropriate you find these).

[2018-11-07 21:38] jgbarah commented on #33
Great! In this case, except if @rpaik says otherwise, I will produce a pull request with the first draft for this use case, based on the original proposal and the discussion here.

[2018-11-14 07:06] kfogel opened #48 "Use case: Characterize a participant, both within a given project and across projects."
This may be a long-ish description -- I'm porting a formerly private conversation with @jgbarah over to here.  (If there's some more appropriate forum, please let me know!)

To set some context: almost all the information I'd want to find out about a project is actually built up from the activity of the *people* in that project, so I've come to think that most of the metrics I'm looking for are ab

[2018-11-14 12:38] jgbarah commented on #48
Thanks a lot, @kfogel. Yes, this is the place for having this conversation ;-)

First comment is purely procedural: in this issue, are you submitting one or two cases? If they are two, I think it is better to open one issue for each of them (we could keep this for the first use case in your description, and have a new one for the second one). If they are only one, I think I need more data to see h

[2018-11-14 12:38] jgbarah commented on #48
Now, with respect to the proposal itself, we should end up filling in this [template](https://github.com/chaoss/wg-gmd/blob/master/use_cases/template.md). So, we would need to define the main goal(s), main actor/stakeholders, and questions that metrics should help to answer. I think goals and actor/stakeholders can be easily extracted from the proposal, but we still need to find out about the spec

[2018-11-14 15:46] sgoggins opened #50 "Use Case: Community Managers"
Creating a use case for community managers.

[2018-11-14 17:20] jgbarah commented on #43
@klumb will take care of this.

[2018-11-14 17:23] #41 closed

[2018-11-14 19:53] jgbarah commented on #35
I think this is closed by #49, closing.

[2018-11-14 19:53] #35 closed

[2018-11-15 11:32] germonprez opened #51 "Prepare GSoC '18 Proposal"
Just like the title says...

January 15 20:00 UTC | Mentoring organizations can begin submitting applications to Google
February 6 20:00 UTC | Mentoring organization application deadline

[2018-11-28 17:10] jgbarah commented on #43
I think #53 fixed all this.

[2018-11-28 17:10] #43 closed

[2018-11-29 17:55] Nebrethar opened #54 "Linter Metrics"
I wanted to share the idea of a metric based on code linter.

There's [a tool on GitHub](
https://github.com/ralfholly/aloa) ([with an article](http://www.drdobbs.com/lint-metrics-aloa/184401810)) that provides an XML output on code quality based on the linter of a C/C++ program.

I haven't used it yet, and I am just providing it for an example. I think it's a neat idea.

[2018-11-29 18:15] GeorgLink commented on #54
I like the idea as a code-quality metric.

What kind of requirements would we need from projects?
Is there a standard way that projects declare which formatting style they
use?

[2018-11-29 19:59] jgbarah opened #55 "Make README.md consistent with D&I working group"
During the CHAOSS board meeting today it was proposed that WGs have a consistent README file, that refers clearly to CHAOSS, to other WGs, to how to contribute, and access to results produced by the WG.

It was also proposed that maybe we could use [Richard Litt's Best Practices for README](https://github.com/RichardLitt/standard-readme).

Thx to @BenLloydPearson for the proposal, and for convinci

[2018-11-30 22:57] BenLloydPearson commented on #55
Thanks @jgbarah

# Readme.md Structure
* Intro - Needs a one-line description, one paragraph description, and a short section that links to D&I metrics repo and explains how this repo fits into overall CHAOSS metrics effort.
* Table of Contents - Clickable links at the top are a lifesaver :-)
* Background - A lot of the current content at the top of the repo will be moved here and expanded on.
* U

[2018-12-04 17:44] Nebrethar commented on #54
Thanks for the reply.

Regarding requirements, there is a large number of problems that can provide the FIX tag. Perhaps files must have a certain ratio of FIX tags to their length in lines - or something like that.

I think it is possible to determine programming language, or relative language, but... It would likely be difficult to determine format specification.

On the other hand, I'm not sure

[2018-12-04 18:07] GeorgLink commented on #54
This was discussed during today's meeting. Seems like there is interest in
the industry for software quality metrics.

[2018-12-05 17:14] germonprez commented on #55
@foundjem and I will take this on

[2018-12-05 17:16] germonprez commented on #54
Discussed in the GMD meeting December 5 but not really a good fit at the moment.

[2018-12-05 17:19] jgbarah commented on #51
Let's keep it here (proposal from the GMD meeting today), until we start working on proposals, when we can open issues in the chaoss/governance repo.

[2018-12-05 17:19] germonprez commented on #50
Should we use this issue to track all possible use case contexts?

[2018-12-05 17:42] germonprez commented on #44
@jgbarah, thanks for this. I agree with the scope for this as: Aspects related to how the source code changes over time, and the mechanisms that the project has to perform and control those changes.

Further, regarding the specific goals that you provide are great. +1

[2018-12-07 15:03] foundjem commented on #55
Hello Matt,
Attached, please find a rough draft of the proposed README.md file.

Thanks,
Armstrong

[2018-12-07 20:13] germonprez commented on #55
Hi @foundjem

Thanks!!

Could you make these changes in a pull request and the we could see them that way? If that isn't super clear, I can take what you have and create the PR.

[2018-12-12 13:03] jgbarah commented on #48
Ping @kfogel! ;-)

[2018-12-12 13:07] jgbarah commented on #44
Thanks, @germonprez! @sgoggins do you think we can merge this?

[2018-12-12 13:15] jgbarah commented on #44
I've started a pull request, #59, implementing the proposed goals and scope.

[2018-12-12 13:17] jgbarah commented on #54
I think we discussed about taking note about this in a new file in the chaoss/metrics repo, something like "proposed metrics that we're not currently dealing with", or something like that. If you agree, I can start a pull request there to start that file with this proposal, so that we can close this issue.

[2018-12-12 13:41] GeorgLink commented on #54
How about moving the issue to the metrics repo? We have several metric
ideas living in issues there.

On Wed, Dec 12, 2018, 07:17 Jesus M. Gonzalez-Barahona <
notifications@github.com wrote:

[2018-12-12 14:44] germonprez commented on #54
This seems to be the logical move based on the Metrics repo intending to now capture such things.

[2018-12-12 17:27] klumb opened #60 "GMD Goals for 2019"
We are creating a gmd goals document.

Here is the working document
https://docs.google.com/document/d/1CkzlCT1hi9OI1SQf_GAZSsNv9o3Po25x8wC5G424d2U/edit

[2018-12-13 05:50] kfogel opened #61 "Use case: Characterize a bug reporter's past success at effectively reporting bugs."
This grows out of discussion in issue #48:

* **Use Case:** If I knew that a particular bug reporter had a tendency to report bugs that resulted in associated bug fixes that were successfully merged, with the ticket closed as "FIXED" (or whatever the equivalent state is in that tracker), then when that person reported a bug in my project, I might pay attention more quickly.

Hmm.  You know, I thin

[2018-12-13 05:58] kfogel commented on #48
Hi, @jgbarah.  I reluctantly have come to the conclusion that it's probably two use cases, so I've opened issue #61 for the second one.

Looking at the questions you asked:

* How much expert on the project is this person?

  I think it doesn't matter for our purposes.  I'm kind of changing the use case here, or narrowing it down: I think this is more about making a first pass.  That is, we're not

[2018-12-14 13:01] jgbarah commented on #48
OK, thanks. I will follow up there too.

[2018-12-14 13:12] jgbarah commented on #48
WRT the questions, first a clarification. We're trying to apply GQM methodology (goal-question-metric). That's the reason why I wanted to define the questions before we enter into the metrics. I know you did your analysis already, so it may seem awkward to talk about the questions when you are proposing metrics. But the idea is to first ensure that the questions of your use case are clear, and the

[2018-12-14 13:18] jgbarah commented on #61
Let me suggest a goal, based on your description: "Find out bug reporters whose past bug reports were successfully fixed".

If you agree on this goal, questions could be:

* To which extent past bug reports by this person were fixed?

I think this would be the main question.

* How many bug reports did this person submit in the past?

This one could be used to modulate the former question, since i

[2018-12-19 13:34] jgbarah commented on #60
I share the general lines I see in that document. Should we convert it into a PR, and eventually merge it? I suggest naming it ROADMAP.md (which is customary in some repos), and then making it evolve to a real roadmap if we want.

[2018-12-19 13:51] jgbarah commented on #33
I've produced a pull request, #63, to start introducing metrics in the use case. Feedback is welcome.

[2018-12-26 04:44] abitrolly opened #66 "What is the problem that this project is trying to solve?"
GMD metrics is not a problem - it is a way. Measuring open source projects is also not a problem - it is a way. What I am missing from this project is motivation in terms of final goal. What is the problem to dedicate time and money to this GMD metrics?

https://medium.com/@jakemendel/seriously-whats-your-startup-s-problem-b3a884c54ab4

[2019-01-08 18:20] jgbarah commented on #66
Thanks for the feedback. I think we all know metrics in general (not only GMD metrics) are not a problem, but a try to provide data to inform a decision or work towards solving a problem.

In this case, we're trying to organize the "problem" in focus areas, each trying to address some goals. For example, if you have a look at the [Code Development focus area](https://github.com/chaoss/wg-gmd/blob/

[2019-01-08 20:57] abitrolly commented on #66
My concern is not addressed. From the front page

What is missing here are people. In my country outsourcing services is the primary business. Most people are busy working in corporations selling their hours and less and less have time to maintain open source infrastructure.

Open source started as a community, but in corporate world, treating people as resources, managing product lifecycles, comm

[2019-01-09 17:14] sgoggins commented on #61
@kfogel : We are keenly interested in your thoughts!

[2019-01-09 17:26] jgbarah opened #69 "Preparing the talk about the WG at CHAOSSCon EU 2019"
We have this talk at CHAOSSCon EU 2019 for presenting the working group. We need to prepare it. This is just the reminder for that ;-)

[2019-01-16 13:33] jgbarah commented on #66
@abitrolly can we close this issue, and if you find it convenient, continue the discussion in the mailing list?

[2019-01-16 15:48] germonprez commented on #48
@kfogel just checking if you have any comments on this. If nothing in the next few weeks, we're going to close this but happy to open it again at any time.

[2019-01-16 15:48] sgoggins commented on #69
I created a document and shared with @jgbarah

[2019-01-16 15:48] germonprez commented on #61
@kfogel just checking if you have any comments on this. If nothing in the next few weeks, we're going to close this but happy to open it again at any time.

[2019-01-16 15:49] #11 closed

[2019-01-16 15:49] jgbarah commented on #16
I'm closing this for now, since we're restructuring and rewritting the metrics.

[2019-01-16 15:49] #16 closed

[2019-01-16 15:51] jgbarah commented on #55
We think this is done now, with the latest pull requests on that file.

[2019-01-16 15:51] #55 closed

[2019-01-16 15:52] germonprez commented on #51
Update. This is in progress from the Google Organization side. I need projects from you.

[2019-01-16 23:19] kfogel commented on #61
Hey there!  Please don't close! :-)  Sorry for the delay; I've been meaning to comment, but just had a long winter break followed by a very busy "back at work and catching up" period.  Putting some more thoughts here is on my todo list and I will do so soon.

[2019-01-17 11:36] germonprez commented on #61
No problem! :)

[2019-01-23 12:14] jgbarah commented on #66
Since there is no further comment, I'm closing this for now. Anyone, feel free to reopen if you feel it is convenient to follow up here.

[2019-01-23 12:14] #66 closed

[2019-01-23 13:13] jgbarah commented on #48
@kfogel ???

[2019-01-23 13:14] jgbarah commented on #69
I'm late with this, I hope to work on it during the net few days. Sorry for my delay.

[2019-01-23 14:09] GeorgLink commented on #69
Could you please provide a short description that we can put on the CHAOSScon schedule.

[2019-01-23 15:01] sgoggins commented on #50
Created a pull request to add this use case.

[2019-01-23 15:34] jgbarah commented on #51
Update. We have some pull requests with ideas. @germonprez will go through them.

[2019-01-23 15:40] jgbarah commented on #44
Now we have another pull request for an specific metric #72.

[2019-01-23 15:52] sgoggins commented on #33
@rpaik : Can we close this issue? Two pull requests are merged. Do they capture what you expected?

[2019-01-23 19:11] jgbarah commented on #69
A short description could be (@sgoggins please modify as you may wish):

The GMD working group is exploring metrics related to growth-maturity-decline and other focus areas (such as risk). Our idea is to go top down, from the definition of the focus areas down to the goals that we want to fulfill in those areas, the questions that we would like to answer to reach those goals, and finally the metri

[2019-01-23 19:23] GeorgLink commented on #69
Thank you, I added the description to our CHAOSScon schedule:

https://chaoss.community/chaosscon-2019-eu/#user-content-jesus-m-gonzalez-barahona

[2019-01-29 09:42] jgbarah commented on #69
@sgoggins have a look at the deck. I think we could publish it as a first draft.

[2019-01-30 15:45] sgoggins commented on #69
View only link to slides: https://docs.google.com/presentation/d/1KT7hu3x-4tmlDnU0WHrZ9xo3_x294N0wuni6fIaiNZE/edit?usp=sharing

[2019-01-30 15:47] jgbarah commented on #60
We already have a first roadmap, so we can close this.

[2019-01-30 15:47] #60 closed

[2019-01-30 15:48] sgoggins commented on #51
Next step is more detailed project description and microtasks.

[2019-01-30 19:53] GeorgLink commented on #51
Less detail about the project and more specifics about the project idea. Two paragraphs would hopefully suffice.

Feel free to reuse the same from last year.
Add a link to it from the idea page.

[2019-01-30 19:54] GeorgLink commented on #69
Thank you for the slides. A current version is now on the CHAOSScon schedule website.

[2019-01-31 17:42] jgbarah opened #81 "GSoC Idea: Implementing CHAOSS metrics with Perceval"
[ This issue for addressing questions and comments related to this GSoC idea, which is one of [the ideas proposed by the CHAOSS group](https://github.com/chaoss/governance/blob/master/GSoC-Ideas.md) for the 2019 edition of GSoC.]

## Description

The [GMD Working group](https://github.com/chaoss/wg-gmd) is proposing some metrics
that are computed with information obtained from software development

[2019-02-01 13:39] rpaik commented on #33
Sorry for the delay.  Yes I'm good with this 😄

[2019-02-01 13:39] #33 closed

[2019-02-04 18:05] sgoggins opened #82 "GSoC Idea: Implementing CHAOSS Metrics in Augur"
# Ideas for Google Summer of Code projects

## Idea 5: Build CHAOSS Risk and Growth Maturity and Decline Metrics in Augur

### Description

[Augur](http://www.augurlabs.io) is a fully functional prototyping web stack for CHAOSS metrics that leverages cutting edge web technologies including VUE, NodeJS and Python. It provides structured data mined from git repositories using a plugin architecture t

[2019-02-06 15:31] jgbarah commented on #69
The session on GMD happened during CHAOSSCon EU 2019. I think we can close this.

[2019-02-06 15:31] #69 closed

[2019-02-08 10:41] aswanipranjal commented on #81
@jgbarah I think the link for the Code-Commits.ipynb notebook is incorrect here. Did you meant to point at [https://github.com/chaoss/wg-gmd/blob/master/implementations/Code_Changes-Git.ipynb](https://github.com/chaoss/wg-gmd/blob/master/implementations/Code_Changes-Git.ipynb), instead?

[2019-02-08 10:42] aswanipranjal commented on #81
@jgbarah I think the link for the Code-Commits.ipynb notebook is incorrect here. Did you meant to point at [https://github.com/chaoss/wg-gmd/blob/master/implementations/Code_Changes-Git.ipynb](https://github.com/chaoss/wg-gmd/blob/master/implementations/Code_Changes-Git.ipynb), instead?

[2019-02-12 17:14] sgoggins opened #83 "Update Readme.md headings to match standard for CHAOSS"
https://docs.google.com/document/d/1pVtYHNTwrGFV3UyiR2qBKV0MvipoEEI-fbwavSNui4Q/edit

Proposed Structure Revision:

Introduction--Overview (purpose, goal, outcome, process - a sentence each with a link to the full section)
Table of Contents
Background (Problem Statement, Opportunity, Goal, Work to Date)
Key Focuses / Roadmap for 2019 [NOT IN G-M-D]
Metrics / Metrics Focus Areas
Workflow: How to us

[2019-02-12 17:16] sgoggins commented on #83
Created this issue following discussion in weekly call.

[2019-02-13 15:33] jgbarah commented on #81
Yes, @aswanipranjal thanks for noticing. I'll change that.

[2019-02-13 15:41] jgbarah commented on #51
Proposal done.

[2019-02-13 15:41] #51 closed

[2019-02-17 14:22] awaiken opened #89 "404 error"
I'm getting a 404 error when trying to access the value and risk metrics.

[2019-02-20 12:22] jgbarah commented on #48
Finally I found the time to produce the pull request (#91). @kfogel (and everyone else), please have a look at it. Any comment / review is appreciated!

[2019-02-20 15:12] klumb commented on #89
Hi @awaiken, thanks for submitting this issue.
I am unable to duplicate this error. Could you paste the URL you are trying to access into the comments?

[2019-02-20 15:35] sgoggins commented on #44
I think we merged all the related pull requests, so I am not sure if we can close this.  I think so?

[2019-02-20 16:01] sgoggins opened #92 "Align Names of metrics"
For example, "New Contributors of Issues" and "closed issues of new contributors" are not fully Consistent in their naming.

[2019-02-21 17:53] germonprez opened #93 "Include Code of Conduct as Top Level Document"
The CoC can be copied from here;

https://github.com/chaoss/governance/blob/master/code-of-conduct.md

This would keep aligned with the display D&I is doing.

[2019-02-23 13:01] Polaris000 commented on #81
Which metrics are we specifically talking about here?
Only [these metrics](https://github.com/chaoss/wg-gmd/tree/master/metrics) (present in wg-gmd repository)? Or is it something else?

Though most metrics are consistent between the [chaoss/metrics repository](https://github.com/chaoss/metrics/tree/master/activity-metrics) , some are present as [archived metrics in the wg-gmd repo](https://github

[2019-02-24 22:26] jgbarah commented on #81
We're in the process of defining the metrics in the [focus areas directory](https://github.com/chaoss/wg-gmd/tree/master/focus_areas). Have a look to those files, which are still work in progress.

[2019-02-27 15:48] jgbarah commented on #89
Ping @awaiken, can you say if you can still see this? Specific link, please.

[2019-02-27 16:31] awaiken commented on #89
Hello Jesus, I’m traveling this week but I’ll try and replicate the error tomorrow and send you a screen shot.

Regards,

Andrew Aitken
GM & Global Open Source Practice Leader
m: 650-704-6321, in/opensourcestrategy/
Wipro Limited

[http://marketing.wiprodigital.com/apps/wipro-esig/assets/images/logo-01.jpg]

From: Jesus M. Gonzalez-Barahona <notifications@github.com>
Sent: Wednesday, February 27,

[2019-02-27 19:53] jgbarah commented on #89
Great. Thanks! Telling in which page is the error, and which link in it is failing could be good enough. It seems we cannot find it ;-)

[2019-02-27 23:33] sarvesh211999 commented on #81
Produce one notebook per data source (git, GitHub/GitLab issues, GitHub pull requests / GitLab merge requests) showing a summary of the contents of that file

For a given repo we have to produce one notebook right ?? And in that we have to output number of commits, pull request open and merged ??

Is this what is required for microtask0 or any else?

[2019-02-28 06:05] aswanipranjal commented on #81
@sarvesh211999
To keep everything tidy, you need to **produce a Notebook for each of the data sources that you gather the data for.**

So the repository that you create can have multiple Notebooks

[2019-02-28 06:08] sarvesh211999 commented on #81
Ohkkay. I will create a pull request and then you can review it. So if there are any changes I can make it.
Thanks for you help

[2019-02-28 06:11] aswanipranjal commented on #81
@sarvesh211999 please go through this document to understand how to show CHAOSS what you have done: [https://github.com/chaoss/governance/blob/master/GSoC-interest.md](https://github.com/chaoss/governance/blob/master/GSoC-interest.md)

[2019-02-28 07:19] sarvesh211999 commented on #81
Yeah I was just asking whether it will be reviewed and responsed back if anything is missing ?

[2019-03-02 01:31] sarvesh211999 commented on #81
@aswanipranjal
After analysis of how many data source I have to create pull request for Microtask0?

[2019-03-02 11:45] aswanipranjal commented on #81
@sarvesh211999, I apoligize about the late reply:

@jgbarah might be better suited to answer this.

The microtask0 is more about you understanding how Grimoirelab tools work and interact with each other. The more data sources that you can produce the reports for, the better you'll understand the systems I'd say.

[2019-03-02 12:41] sarvesh211999 commented on #81
Thank You Very Much. @aswanipranjal

[2019-03-02 13:19] Polaris000 commented on #81
Can we make the wording of this idea clearer? It will help other people later

[2019-03-03 15:20] s-ankur commented on #81
Hello, I am interested in this project. I have mostly completed microtask0 (analysis of commits), however, I encounter a problem with the rate limits of GitHub being exceeded (If I try to `perceval github` any large project). I have tried a few ways to get around this but I'm afraid Ive hit a roadblock. Can I just use a smaller project instead? Also, as @Polaris000 said, I find the wording of the

[2019-03-03 15:31] Polaris000 commented on #81
HI @s-ankur! Regarding your rate limit, have you tried using the authentication token parameter with perceval?

[2019-03-03 15:32] Polaris000 commented on #81
The rate limit is low for unauthenticated users

[2019-03-03 15:37] s-ankur commented on #81
Yes, I did, but I guess the repo I'm trying is too big either way. I think I'll try it with a smaller repo after my timeout is over. Thanks @Polaris000

[2019-03-03 16:10] sarvesh211999 commented on #81
@s-ankur use sleep-for-rate flag

[2019-03-03 16:22] Polaris000 commented on #81
This should the trick. Thanks @sarvesh211999.

[2019-03-03 18:56] jgbarah commented on #81
@sarvesh211999 said:

Usually, you upload the results for all the microtasks you do in your own repository, and include that in the pull request you produce (as stated in the `/GSoC-interest.md` file).

We will go through all the repos in that file when we enter the evaluation period, or earlier (if we find some time to have a look earlier). Of course, you can ask whenever you find some problem. B

[2019-03-03 19:00] jgbarah commented on #81
@Polaris000 said:

Thanks for the suggestion, but i think we better will leave it as it is now. The main reason for that is that (I think) the microtask is reasonably well defined, if you read it carefully. Of course, there may be some level of fuzziness depending on your assumptions, but that's the reason why we have comments. And finally, I think it is better to leave it relatively open, because

[2019-03-04 02:31] vchrombie commented on #93
@sgoggins I know that you are assigned to this issue. But I want to ask, can I solve this issue?

[2019-03-05 21:05] s-ankur commented on #81
@jgbarah can you please review [**microtasks**](https://github.com/s-ankur/microtasks-perceval). Although currently I have completed 3 Microtasks (slightly incomplete), I would love to have some feedback as to whether I am on the right track.

[2019-03-06 11:58] sgoggins opened #99 "Address Refining Comments in Pull Request #90"
I made some comments for refining the goals and questions under code activity in pull request #90 that mostly deal with :
- How to count open pull requests
- How to deal with reopened issues

Both in terms of counting them within ratios and summary metrics.

[2019-03-06 11:59] sarvesh211999 commented on #81
@aswanipranjal @jgbarah I was just asking while creating pull request whether we have to keep repo private and can add u as collaborator, or we have to keep it public. Because in public there is possiblity that it can be copied.

[2019-03-06 12:01] vchrombie commented on #81
@sarvesh211999, maybe you can have a look at this conversation. :)
https://github.com/chaoss/governance/issues/86

[2019-03-06 15:29] jgbarah commented on #99
Good points, @sgoggins! What about considering them in the details for the metrics (I mean, the file describing the metric) instead of at the focus area (questions, goals) level?

[2019-03-06 15:41] sgoggins opened #100 "Meeting minutes: Google Group"
We take notes in a google doc. The suggestion is made that we create a google group for that document for update notification.

[2019-03-06 16:05] sgoggins opened #101 "Maintain a dictionary file of metrics and historical names"
For any new metric, add the name and definition to a metrics.dictionary.md file. **include any historical names that were renamed**

[2019-03-06 16:41] jgbarah commented on #100
I still prefer to keep using the [meeting_notes.md file in the git repo](https://github.com/chaoss/wg-gmd/blob/master/meeting_notes.md), to avoid having yet another system to deal with (Google Docs). But if most of you think this is going to be better, i won't oppose.

In any case, in case we're moving to Google Docs for minutes, we need to define how/whom we're going to grant access to modify the

[2019-03-06 17:43] GeorgLink commented on #100
FYI: For the CHAOSS weekly minutes and the D&I WG minutes, edit rights are
open to the public. To have an unchanging history, we copy-paste the
minutes as emails on the mailing list.

[2019-03-06 22:36] jgbarah commented on #100
@GeorgLink, maybe this could be the way. I would just include the resulting minutes in a file in git, in addition to sending it to the mailing list (or maybe, just sending the link to the file could be enough). This could be quite similar to what you are doing now for CHAOSS and D&I weekly meetings, but also keeping that log file that could be more convenient for finding old decisions or discussio

[2019-03-06 23:04] GeorgLink commented on #100
@jgbarah, I can appreciate the Markdown file in git.

FYI: Google doc has an add-on that exports to Markdown formatting.

[2019-03-07 14:39] klumb commented on #100
Hi @jgbarah,

This was the point I brought up in the meeting. The method of taking the notes doesn’t matter for how they are archived. Because google doc has a markdown plugin, it would be very easy to take the notes in google docs, email them and archive a copy on the repo.

Cheers,

Kevin Lumbard (he/him/his)
University of Nebraska at Omaha
PKI 367

[2019-03-08 17:30] sarvesh211999 commented on #81
I want to ask is there any list of decided metrics that has to be implemented. Then our proposal will be more on point rather than being general or a long list.

[2019-03-08 17:44] Polaris000 commented on #81
The metrics are being worked on [in the focus group](https://github.com/chaoss/wg-gmd/tree/master/focus_areas)

[2019-03-08 17:59] sarvesh211999 commented on #81
So we have to draft proposal on the basis of metrics as how we are going to implement it??

[2019-03-09 05:21] s-ankur commented on #89
I think @awaiken is referring to the links to Risk and Value Focus areas in the README.md.

[2019-03-09 05:33] #89 closed

[2019-03-09 06:44] vchrombie opened #105 "Link to the LICENSE file is broken."
The link to the LICENSE in the README seems to be broken.

It is an easy fix, either the file name should be changed to LICENSE.md or the README should be updated with the [exact link](https://github.com/chaoss/wg-gmd/blob/master/LICENSE).

[2019-03-09 06:45] vchrombie commented on #105
I can work on this issue. Can you please let me know if I need to change the file name or just update the correct address.

[2019-03-09 13:05] vchrombie commented on #105
It is fixed. #106

[2019-03-09 13:05] #105 closed

[2019-03-09 15:07] klumb commented on #101
I think we need to collect some basic terminology to start.

[2019-03-11 04:16] ManuelLecaro commented on #82
Hello, I'm interested in this project and have been working on the microtasks. I would like to ask if like in the other GSoC ideas that is recommended to show the completion of some microtasks, on this project if I want to show them as well, may I create a repository and upload evidence like screenshots because there are no coding related tasks, like in this [issue](https://github.com/chaoss/grimo

[2019-03-14 10:19] DataGasmic commented on #81
# Hello, Everyone.
I am an Indian Undergrad student , in my sophomore year, from Kolkata currently pursuing B-Tech in Information Technology. I am very excited and interested in this Project. I feel like I am very late to this conversation but I would still love to contribute. I have gone through the comments above and started working with the Micro Tasks.

[2019-03-19 16:50] GeorgLink opened #109 "require DCO for all new commits"
This issue is to activate [protobot/dco](https://github.com/apps/dco) (or similar bot) to check that all commits have a sign-off. The CHAOSS Project Charter requires that all contributions are signed-off.

For users of the git command line interface, a sign-off is accomplished with the `-s` as part of the commit command: `git commit -s -m 'This is a commit message'`

For users of the GitHub interf

[2019-03-20 13:14] jgbarah opened #110 "[metrics] "Reviews" instead of "Proposals"?"
Some people have pointed out that the name "Proposals" is difficult to map to pull requests, merge requests or code reviews, and that "proposals" is not used in this context.

Proposals came from "proposals of changes to the code", but I agree that the word "proposals", isolated, is difficult to map to a code review process. It is the name we're currently used in the code development focus area (f

[2019-03-20 13:16] jgbarah commented on #109
I will try to work on this during this week.

[2019-03-20 13:23] jgbarah commented on #100
So, if I understood it well, during our last meeting we proposed that we will use Google Docs during the meeting for collaboratively writing the minutes, and then use the content of that document to produce a pull request, adding the text to `meeting_notes.md`.

Am I right? Can we close this issue, if we have consensus on this?

[2019-03-20 13:24] jgbarah commented on #93
@vchrombie please go ahead!

[2019-03-20 13:30] jgbarah commented on #81
For all of you asking for us to review microtasks, in public or private repos:

* I prefer not to look at private repos. Thanks for the invitations, anyway. The main reason for this is to maintain transparency, and letting anyone see any advice that we provide anyone else. I know that some student prefer not to make their repo public until the very last moment, to avoid other reusing their code, a

[2019-03-20 15:05] Polaris000 commented on #81
@jgbarah is there a way to get a definite (or approximate) number for the number of metrics a potential gsoc student would be expected to implement?

[2019-03-20 17:24] germonprez commented on #100
Yes!

On Wed, Mar 20, 2019 at 6:23 AM Jesus M. Gonzalez-Barahona <
notifications@github.com> wrote:

--
Mutual of Omaha Associate Professor
Information Systems
College of Information Science & Technology
University of Nebraska Omaha
he / him / his
https://goo.gl/E87KdK

[2019-03-20 19:03] germonprez commented on #110
This makes sense to me. I didn't even understand 'proposals' until you explained it here. Reviews is something I understand more :)

[2019-03-20 21:02] rsanchez-seerene commented on #110
Very important concept, which reminds me the document control system and RFC processes: Submit fro review, Pending review, Pending approval, release, obsoleted. However in this case the author can decline review comments/suggestions.
![ReviewProcess](https://user-images.githubusercontent.com/19904348/54718873-d2aa6400-4b5b-11e9-9f9c-e702bfe5f404.png)

[2019-03-20 23:11] germonprez commented on #110
So it seems like the inclination is for 'review'

[2019-03-20 23:34] jgbarah commented on #110
Good. Thanks for the feedback. If there is no comments against, I will produce the pr changing this.

[2019-03-20 23:38] jgbarah commented on #100
Great! Closing this one, then...

[2019-03-20 23:38] #100 closed

[2019-03-21 11:14] tobie commented on #109
I'm confused as to how a DCO is appropriate for what is essentially non-code textual content. I'm also very confused about the licensing choice for this repository. Why MIT and not a CC-type license plus a patent attribution?

This might not be the right forum to discuss that, but the real value of the work that's happening here doesn't fall under copyright laws. That work is the description of th

[2019-03-21 11:19] germonprez commented on #109
The DCO and licensing choice are what are described in the charter:

https://chaoss.community/about/charter/

These were decisions that were prescribed at the start of the project -- as hosted at the LF.

[2019-03-21 11:25] tobie commented on #109
Yes. I read the charter. These feel like really strange defaults for such a project.

Imho, they make contributing more difficult for a community that isn't as technically savvy as pure developers without the only real potential threat given the type of work produced: patents around metrics.

[2019-03-21 11:29] germonprez commented on #109
I hear your point on the overhead and I share the same concern. There's just not much we can do about this -- without modifying the charter. I can re-start a conversation with legal but I think that's the only path right now.

[2019-03-21 11:31] tobie commented on #109
Doesn't requiring a DCO prevent any contribution from the web interface? If that's the case, I think it's worth revisiting the legal aspects.

[2019-03-21 11:48] germonprez commented on #109
It wouldn't. However, it would require manual entry of a signed-off line into a commit.

[2019-03-21 11:53] tobie commented on #109
I could have read the initial message from @GeorgLink and avoided that last exchange. Apologies. In that case, whoever is going to do the work should make the call. I'm happy to sit on a call with legal to discuss the real needs of this project given what's actually produced, and help carry out the charter changes this would induce, but I can't be the one initiating this.

[2019-03-21 13:07] germonprez commented on #109
Sounds good. Thanks @tobie. I'm always in search of ways to work with the needs at the LF and community while at the same time managing the overhead in the project.

[2019-03-21 13:47] GeorgLink commented on #109
I agree that we should have appropriate licensing and little overhead. @tobie and @germonprez  summarized the debate well.

To provide background and if I remember correctly, we have MIT for the metrics repositories, because (1) we were expecting sample code and wanted it to be licensed liberally, and (2) MIT is liberal enough to apply to documentation such as we are creating in describing metrics

[2019-03-21 13:53] GeorgLink commented on #109
@jgbarah, I can activate the DCO bot on the chaoss/wg-gmd repo.
This requires then all contributors to sign-off on their commits. No other change needed.

I have piloted the DCO bot on the chaoss/governance repository and can report that it works well. The most trouble is if someone forgets to sign-off. I use a browser plugin to automate the sign-off in the browser when I use the GitHub UI. For a

[2019-03-21 15:03] inishchith commented on #81
@jgbarah Sorry, I read your comment a bit late. Thanks for the response.

[2019-03-21 16:04] vchrombie commented on #93
There are few, very minor grammatical mistakes in the [CoC](https://github.com/chaoss/governance/blob/master/code-of-conduct.md). You can view the changes here https://github.com/chaoss/governance/compare/master...vchrombie:add-CoC

Is it relevant?
Is there any particular procedure to be followed to change it or a PR to the CoC of chaoss/governance works fine?

[2019-03-21 16:28] GeorgLink commented on #93
Great find. Yes, a pull request to chaoss/governance would be the best way
to help.

[2019-03-22 10:55] valeriocos commented on #81
@jgbarah @aswanipranjal after checking the [repo](https://github.com/inishchith/chaoss-microtasks) of @inishchith , I'd propose to adopt its structure as the standard way to present the applicants' work for this idea and also for the other ones (or at least for https://github.com/chaoss/grimoirelab/issues/182). Thus, the repo should have a folder per micro-task, and a readme section that summarize

[2019-03-25 16:51] Polaris000 commented on #81
Is it necessary to send a pull request to governance with my information before the start of the student application process? As I have n't finished my proposal yet, can I wait until my proposal is ready and send everything all at once (during the student application process)?
Though the answer might be obvious, better safe than sorry!

[2019-03-25 17:13] GeorgLink commented on #81
Though the answer might be obvious, better safe than sorry!

The pull request has to be accepted before the application period ends. You can submit a pull request with a link to a google doc that is under development and finish the proposal after the pull request was accepted.

[2019-03-25 17:15] Polaris000 commented on #81
Thanks! I'll send a pull request in a couple of days

[2019-03-26 03:32] sarvesh211999 commented on #81
@aswanipranjal @valeriocos @jgbarah

Is there any list of metrics that have been already implemented in Jupyter-Notebook so that we can remove it from our proposal and make our schedule accordingly to the metrics not implemented.
------------

Another question is regarding the metrics like 'Pull Request Open and 'Pull Request Closed', so are they to be implemented in different notebook or can be i

[2019-03-26 08:18] Polaris000 opened #117 "[metrics] Difference between Proposals_Accepted and Proposal_Acceptance"
In the code development focus area, specifically, in [code_development.md](https://github.com/chaoss/wg-gmd/blob/master/focus_areas/code_development.md), there is a mention of two metrics:
- [Proposals_Accepted](https://github.com/chaoss/wg-gmd/blob/master/metrics/Proposals_Accepted.md) (Goal: Activity)
- Proposal_Acceptance (Goal: Efficiency)

I'm finding it difficult to understand the difference

[2019-03-26 16:04] aswanipranjal commented on #81
This sounds good, @valeriocos.

[2019-03-26 16:17] aswanipranjal commented on #81
@sarvesh211999

Implementations of the metrics can be found here: [https://github.com/chaoss/wg-gmd/tree/master/implementations](https://github.com/chaoss/wg-gmd/tree/master/implementations)

I think it'll be better if they are implemented separately. @jgbarah @valeriocos?

[2019-03-27 13:15] jgbarah commented on #117
Thanks for the comment. `Proposals_Accepted` is the total number of proposals that finished by accepting the proposed change. `Proposal_Acceptance` is the ratio of proposals that finished by accepting the change to the total number of proposals. I'm sorry the latter one is still not detailed (does not have its own page). We hope to work with it soon.

Please, close this issues if you feel the answ

[2019-03-27 13:22] Polaris000 commented on #117
Thanks for the reply.

This line from the code_development.md file does not talk about a ratio. I'll send a pull request if this has to be updated. Let me know.

[2019-03-27 13:33] Polaris000 commented on #117
Also, there is another metric defined under the goal of efficiency:

This sounds quite similar to the definition you gave for `Proposal_Acceptance`.

[2019-03-27 14:31] vchrombie commented on #93
I think this can be closed now.
@sgoggins

[2019-03-27 14:32] sgoggins commented on #93
We can close this since its merged.

[2019-03-27 14:32] #93 closed

[2019-03-27 14:34] sgoggins commented on #44
Closing issue as this is well represented now.

[2019-03-27 14:34] #44 closed

[2019-03-27 14:35] sgoggins commented on #82
Hi @ManuelLecaro : Please submit!

[2019-03-27 14:36] sgoggins commented on #92
This is ongoing and we have made improvements. Closing.

[2019-03-27 14:36] #92 closed

[2019-03-27 14:39] sgoggins commented on #109
We discussed this in the meeting and agreed to accept it into our working group.

[2019-03-27 14:39] GeorgLink commented on #109
Great. DCO bot is active 👍

[2019-03-27 14:39] #109 closed

[2019-03-27 14:41] sgoggins commented on #110
Pull_Merge_Request?
Forked_code_merge_request?
I think the word "review" is confusing with regards to code reviews.

[2019-03-27 16:33] jgbarah commented on #110
Thanks for the feedback, @sgoggins. My comments on it:

* Pull_Merge_Request: a bit longish, but also misses important systems, such as Gerrit, where the name has nothing to do with "pull request" or "merge request".
* Forked_code_merge_request: not sure what "forked code" means in this context...

But, from a general point of view, why "review" is confusing when talking about code *reviews*? Mayb

[2019-03-28 03:24] sarvesh211999 opened #120 "Metric Question should be 'Pull Request Merged'"
in https://github.com/chaoss/wg-gmd/blob/master/focus_areas/code_development.md
the metric 'Pull Requests Merged' has question 'What is the number of code commits?' that should be 'What is the number of pull request merged?'

Reason: Many Commits can be directly done by the authorized person without creating pull_request.

[2019-03-28 04:52] sarvesh211999 commented on #81
@aswanipranjal @jgbarah @valeriocos
Do we have to give view access to all for proposal or can we just give access to mentors ?

[2019-03-28 07:38] valeriocos commented on #81
sorry for the late reply @aswanipranjal and @sarvesh211999

I agree with @aswanipranjal

[2019-03-28 07:39] valeriocos commented on #81
I would say that is better to give access to all, but let's wait for @jgbarah and @aswanipranjal replies

[2019-03-28 08:12] Polaris000 commented on #81
I had asked a query more than a week ago. It probably got overlooked, so I am repeating it here:

From what I understand, the metrics supposed to be implemented are those present in the [focus areas of wg-gmd repository](https://github.com/chaoss/wg-gmd/tree/master/focus_areas). Since risk and value are being moved to separate repositories, that leaves the code_development, community_growth and is

[2019-03-28 08:21] valeriocos commented on #81
I guess you are right, let's double-check with @jgbarah

[2019-03-28 13:13] GeorgLink commented on #81
Yes, please do make repositories and proposals public. We debated private vs. public here: https://github.com/chaoss/governance/issues/86

[2019-03-29 08:11] jgbarah commented on #81
Sorry for not addressing this earlier. Yes, the idea is to work with the metrics in this (wg-gmd) repository. However, as usual, the task is open: some similar metrics in other wg could also get implementations (if people working in those wgs agree), and some other related tasks could be included (such as a testing system for all reference implementations, or a tool to run reference implementation

[2019-03-29 08:19] jgbarah commented on #109
Thx @GeorgLink !!

[2019-03-29 08:24] Polaris000 commented on #120
I agree.
@jgbarah?

[2019-03-29 14:52] GeorgLink commented on #109
You are welcome 👍

[2019-03-31 22:00] jgbarah commented on #117
OK, I see now. Sorry for my error: you're right, `Proposals_Accepted` in goal `Activity` should be the same as `Proposal_Acceptance` in goal `Efficiency`. Please, feel free to submit a pull request to fix that, and sorry for the noise.

[2019-04-01 03:14] Polaris000 commented on #117
Thanks for the reply @jgbarah. I am not sure I perfectly understand what is to be done.
When you said:

you probably meant that both metrics should refer to the same thing. Since in the current version of the file, both metrics point to more or less the same thing (the reason for raising this issue in the first place), I could replace `Proposal_Acceptance` in goal `Efficiency` with `Proposals_Acce

[2019-04-01 06:31] harshalmittal4 commented on #81
@valeriocos, @aswanipranjal @jgbarah,
Just a little clarification w.r.t. microtask3 :sweat_smile: :
the issues to be considered are the ones which were opened in the last year and closed anytime after that uptil now ?

[2019-04-01 08:39] #117 closed

[2019-04-01 09:23] jgbarah opened #124 "Deciding a new name for this working group"
After [some discussion in the mailing list](https://lists.linuxfoundation.org/pipermail/chaoss/2019-March/000401.html), it seems we have a consensus on changing the name of the working group to make it more easy to understand to newcomers.

Proposals that could get consensus are, for now: Activity, Lifecycle, and Evolution.

Which one do you prefer? (or better, rank them in order, so that we can k

[2019-04-01 09:41] rsanchez-seerene commented on #124
After reading some literature on the subject (Thank you Tom) I can understand the context of Software Evolution as the encompassing name with finite development periods/activity/processes that have a Lifecycle.

[2019-04-01 11:12] jgbarah commented on #120
Yesssss. That's an error, very likely because of too much copy&paste. Please, provide a fix if you want.

[2019-04-01 11:18] jgbarah commented on #83
Can anyone have a look at this one, and maybe produce a pull request? In principle, it is a matter of adding the sections that could be missing, using (when necessary) the file in the D&I working group as a template. In a quick check, it is mainly the section "key focuses/roadmap" (which could just include a link to our roadmap file), and maybe "software work" (not sure about this one).

Before do

[2019-04-01 11:28] harshalmittal4 commented on #83
Hey @jgbarah, I will take it and make the PR!

[2019-04-01 11:42] GeorgLink commented on #83
D&I has not changed the headings yet. Please find new headings in the
Google doc shared on the mailing list a few weeks ago.

[2019-04-01 11:55] Polaris000 commented on #120
@sarvesh211999 are you working on this issue?

[2019-04-01 11:56] GeorgLink commented on #124
- evolution
- lifecycle
- (activity)

[2019-04-01 12:12] sarvesh211999 commented on #120
Yeah.

[2019-04-01 17:07] harshalmittal4 commented on #81
Please see to this, any help would be useful. Thanks.

[2019-04-01 17:22] foundjem commented on #124
1. Evolution
2. Activity
3. Lifecycle

[2019-04-02 09:18] valeriocos commented on #81
@harshalmittal4 sorry for the late reply. Your interpretation seems good to me:
- issues opened in the last year
- all issues closed

please @jgbarah @aswanipranjal correct me if I've misunderstood that sentence (reported below)

[2019-04-02 21:48] sarvesh211999 opened #128 "Consistency in Focus Area: Community Growth"
In Focus Area: [Community Growth ](https://github.com/chaoss/wg-gmd/blob/master/focus_areas/community_growth.md)
[New Contributors of Initiated Code Reviews] should be consistent as other metrics.

[2019-04-03 16:38] harshalmittal4 commented on #83
@jgbarah, @sgoggins, @GeorgLink,
Few questions regarding the update:
1) What could be the appropriate content for the **Background** heading for the GMD working group, or shall I just put the heading for now?
2) For the **Roadmap**, **Implementations** and **Use cases** headings, I suppose that I have to include the links to their files. Please correct me if I am wrong.
3) What would comprise the

[2019-04-03 16:42] GeorgLink commented on #83
Headings without content can be omitted. The goal is a useful README.

**Update:** D&I has an active pull request to update its README structure.
https://github.com/chaoss/wg-diversity-inclusion/pull/172

[2019-04-04 15:05] aswanipranjal commented on #81
@valeriocos @harshalmittal4, I think the interpretation is
- issues opened in the last year
- issues closed in the last year

@jgbarah, thoughts?

[2019-04-04 16:44] harshalmittal4 commented on #81
Very thanks @aswanipranjal, I considered the other interpretation in the microtask, although this could also be done similarly. Will possibly update it soon. Meanwhile, may you please review the microtasks and suggest some other changes for improvements, maybe in an issue if it suits :slightly_smiling_face:

[2019-04-05 05:21] Polaris000 opened #133 "[metrics] Understanding Contributing Organizations and Sub-Projects metrics"
The definitions given for these metrics in their respective files are quite vague. What is meant by a subproject?

What is a contributing organization?
These questions were addressed in issue #10 and #11, which was a long time back. Is there a better and clearer way to define them?
The links to the metrics' pages are:
- https://github.com/chaoss/wg-gmd/blob/master/metrics/organizations.md
- https:

[2019-04-05 05:24] Polaris000 commented on #133
@GeorgLink @jgbarah

[2019-04-05 05:37] Polaris000 commented on #81
What is the preferred mode of communication between a potential GSOC student and his/her mentors?
Is the discussion exclusive to the student and the mentor, or does it happen in the public mailing lists and general IRC channels?

[2019-04-05 06:40] vchrombie commented on #81
@Polaris000
I think it is the bi-weekly video call meetings and the mailing list. IRC is not

You can have a look at the weekly schedules of the working group meetings.

[2019-04-05 06:45] Polaris000 commented on #81
Thanks @vchrombie! I am aware of the schedules. Since you said "I think...", lets confirm it once with one of the maintainers.

[2019-04-05 06:48] vchrombie commented on #81
@Polaris000
I think it is the (weekly/bi-weekly) video call meetings and the mailing list as far as I know.

The discussions through IRC are not much active. Check these [mail thread](https://lists.linuxfoundation.org/pipermail/chaoss/2019-January/000263.html), https://github.com/chaoss/website/issues/112

You can have a look at the weekly schedules of the working group meetings.
https://chaoss.co

[2019-04-05 06:50] Polaris000 commented on #81
Thanks @vchrombie for your answer! I am aware of the schedules. Since you said "I think...", lets confirm it once with one of the maintainers.

I'd love the join the meetings! Till a few days ago, I thought the meeting was only for the maintainer.

[2019-04-05 09:23] harshalmittal4 commented on #81
Hey @Polaris000, I also had the same thought about the meetings till yesterday when I asked in the mailing list. So they are open to all:slightly_frowning_face:

`Since you said "I think...", lets confirm it once with one of the maintainers.`
And yes I agree, confirming things with the with the maintainers is important, the main concern being we all are new and there may be ideas or plans being wo

[2019-04-05 15:06] harshalmittal4 commented on #81
Hey @valeriocos, @jgbarah, @aswanipranjal,
I had few questions (similar amongst theemselves) with regard to some metrics :

1. Proposal_accepted (**period**), Proposals_declined (**period**) :
[code]

1. Proposal_participants (**period**):
[code]

1. Proposal_Backlog(**period**);
[code]
(This is similar to one clarification I asked earlier, but just to be sure, I asked these :neutral_face:)
Is it

[2019-04-05 15:14] jgbarah commented on #110
Any other comment about this?

[2019-04-05 15:16] jgbarah commented on #128
Can we close this?

[2019-04-05 16:09] #128 closed

[2019-04-07 17:12] parthsharma2 opened #134 "Definition of "Abandoned Issues""
I was trying to implement the metric "[Issues Resolution Efficiency](https://github.com/chaoss/wg-gmd/blob/master/metrics/issues-closed-resolution-efficiency.md)" in Augur and came across "Abandoned Issues." Currently, there is no definition for "Abandoned Issues."

I had a bit of a discussion with @sgoggins related to this resulting in the following definition "**open X days without communication

[2019-04-08 13:39] Polaris000 commented on #120
@sarvesh211999 , can you close this issue as the corresponding pull request appears to have been merged?

[2019-04-08 13:46] GeorgLink commented on #120
@Polaris000 here is a neat little trick for automatically closing an issue when a pull request is merged: https://help.github.com/en/articles/closing-issues-using-keywords

[2019-04-08 13:46] #120 closed

[2019-04-08 14:11] quirroone commented on #81
Hi @valeriocos @jgbarah is there still a chance of getting some feedback on my proposal? Or should I upload it already? Thanks!

[2019-04-08 14:33] Polaris000 opened #136 "[feature] Testing repositories based on reference implementations"
As mentioned in passing by @jgbarah,  a possible tool to automatically evaluate repositories based on metrics would be quite useful.

If this feature is not of immediate importance, we could always work on it later,  but if it is, I'd love everyone's views on it.

I see two ways of going about it:

1. create a command line based tool with python which takes Perceval data and generates an output fi

[2019-04-08 14:37] Polaris000 commented on #120
Thanks @GeorgLink for the information. Though I am aware of this feature and use it quite often myself, I think I am missing the point. Since I neither have write access to this repository nor am I the author of this issue, won 't it be impossible for me to close this issue?

[2019-04-08 14:43] Polaris000 commented on #136
please have a look @valeriocos @jgbarah @GeorgLink

[2019-04-08 15:27] GeorgLink commented on #136
Thanks for sharing your thoughts. I defer to others.

[2019-04-08 15:30] GeorgLink commented on #120
Sorry for the confusion. I always like to point this feature out because anyone can write a comment on a pull request before it gets merged to automate the closing of issues.

This was for future reference, not for this particular issue.

[2019-04-09 07:47] valeriocos commented on #136
I like the idea @Polaris000 so +1 from my side :)
Let's wait for @jgbarah feedback.

[2019-04-09 08:02] Polaris000 commented on #81
@valeriocos @jgbarah @aswanipranjal
On the GSoC submission page, do I have to submit a draft first? Or can I directly submit the proposal pdf?
I am asking for official reasons only: If I send you a draft, will you approve it? And for a student to get to  work with CHAOSS, is it necessary to get a draft approved first?
Please let me know.

[2019-04-09 10:38] germonprez commented on #81
@Polaris000 and @quirroone I would recommend that you get your proposal (in PDF) submitted to the Google submission system. Follow their rules. I suspect that the mentors are not going to pre-approve submissions as that would create an additional layer of work for them. That said, others can give their advice.

[2019-04-09 12:52] Polaris000 commented on #81
Submitted

[2019-04-09 16:25] harshalmittal4 commented on #81
Submitted :)

[2019-04-09 16:26] harshalmittal4 commented on #81
Submitted!!

[2019-04-09 16:46] jgbarah commented on #133
We need to work on that. But in any case, please remember that we're working sort of top-down, from a focus area, to the (knowledge or actionable) goals for that focus area, to the questions that may help to reach those goals, to the metrics that can help to answer those goals. Therefore, we need to consider this (organizations and subprojects) in the context of the relevant focus area / goal / qu

[2019-04-09 16:48] sgoggins commented on #82
@parthsharma2 contributed a pull request to augur. He communicated directly in the repository, which is my fault, not his.

[2019-04-09 16:53] jgbarah commented on #134
In general, I prefer to define issue resolution in terms of "issues fixed vs issues closed with no fix". But that is difficult, I know.

Since "Issue Resolution Efficiency" is in the "Issue Resolution" focus area, which is still not structured according to GQM (goal, question, metric), maybe we should start to refine goals for it, and then, in that context, find a good/useful definition for the me

[2019-04-09 16:55] jgbarah commented on #136
I like the idea too. In fact, it would be great doing that, and including a set of projects as a part of a kind of "test projects", so that we can run periodically the reference implementations on them.

WRT the approach, I'm not sure which one is better. Maybe extracting a script from the notebook (also, designing the notebook in a way that theg script can be extracted) would be the way to go, if

[2019-04-09 17:04] Polaris000 commented on #133
Thanks for the reply!

Will do!

[2019-04-09 17:04] #133 closed

[2019-04-09 17:23] bing0n3 commented on #82
Hello, I'm also interested in this project. I have contributed a few pull requests to augur, accomplished all microtasks and submitted my proposal.

[2019-04-09 17:41] sgoggins commented on #82
OK, @bing0n3 : we will evaluate your pull request.

[2019-04-09 22:14] jgbarah opened #138 "[focus_areas] Feedback on how to measure efficiency"
In the [code development focus area](https://github.com/chaoss/wg-gmd/blob/master/focus_areas/code_development.md), one of the specific goals is "Eficiency". Now, we have it defined as:

First of all, I think we should extend this definition to how efficient are the processes that the project follows in the area of code development. I propose to change this short definition to:

What do you think

[2019-04-10 12:20] rsanchez-seerene commented on #138
Actually had today a look at a project and discussed the efficiency on Agile environment by measuring tickets that are not completed in one but two sprints or extend over to various sprints due to bad planning, code (buggy), or architectural issues. Noticed also team churn aftermath in speed fluctuation. Poorly documented code and highly nested code also correlate to efficiency as they slow down d

[2019-04-10 14:42] sgoggins commented on #136
A travis-CI build function would make *some* sense, but I think we should consider this a pilot study for all working groups.

[2019-04-10 14:54] sgoggins commented on #136
If the metric reference implementation is tightly coupled to the metric definition, then I think that will ensure there is no drift over time. It will also limit coupling of code to a specific data pipeline. Such that we have a clear enough and abstract enough clarity about necessary inputs that testing could be implemented through "any" pipeline.

This proposal is to treat the pipeline for gettin

[2019-04-10 14:58] sgoggins commented on #134
@jgbarah : I think abandonment is perhaps valenced negatively as I think your comment observes. Its also more clear than "inactive". I am unsure if abandonment is a decision or if it is kind of an expression of latency. Inactive could be parameterized as @parthsharma2 and Jesus suggest.

[2019-04-10 14:59] sgoggins commented on #124
Evolution.

[2019-04-10 15:02] sgoggins commented on #110
what about "code_integration"?

[2019-04-10 15:04] sgoggins commented on #101
Lets make it simply changes from here forward.

[2019-04-10 15:04] klumb commented on #101
add proposals and reviews

[2019-04-10 15:28] vchrombie commented on #50
@jgbarah @sgoggins
If PR #76 is completed and enough, I think we can close this issue.

[2019-04-10 16:20] Polaris000 commented on #136
Thanks @sgoggins for the reply!

Could you elaborate on this point regarding the travis-CI build?

[2019-04-10 17:00] parthsharma2 commented on #134
What about:
- **Inactive Issue**: An open issue that has had no activity (comments, references, tags updated, etc) in the past X days.
- **Abandoned Issue**: An open/closed issue that has been tagged as "Abandoned", "Stale", etc. or is no longer relevant and has been closed or tagged as abandoned by the maintainers.

[2019-04-10 19:26] vchrombie opened #140 "[metrics] Metric files are missing"
It seems that many metric description files are missing in the [wg-gmd/metrics](https://github.com/chaoss/wg-gmd/tree/master/metrics) folder. Few are not created, few have broken links.

If you are still discussing and working on the metric, then you can close this issue. But, if it is like a mistake, I can send a PR fixing it. :slightly_smiling_face:

[2019-04-10 19:30] vchrombie commented on #140
@jgbarah @sgoggins
I will be asking about the files here. You can decide what to do about such files and lets see what we can do it. :smiley:

[2019-04-11 02:57] vchrombie commented on #140
These metrics in the focus_areas doesn't have a `.md` file in metrics (not even the template)

- [Pull Request Merged](https://github.com/chaoss/wg-gmd/blob/master/metrics/pull-requests-merged.md)
- [Pull Requests Closed](https://github.com/chaoss/wg-gmd/blob/master/metrics/pull-requests-closed.md)
- [Pull Requests Code Review](https://github.com/chaoss/wg-gmd/blob/master/metrics/pull-requests-cod

[2019-04-11 02:58] vchrombie commented on #140
I doubt the below metrics have a file but the link is broken. I have corrected the link beside it

| Metric with broken link | Correct link |
| --- | --- |
| [Lines of Code Changed]() | https://github.com/chaoss/wg-gmd/blob/master/metrics/code-lines-of-code-changed.md |
| [New Contributors of Initiated Code Reviews]() | https://github.com/chaoss/wg-gmd/blob/master/metrics/pull-requests-code-review

[2019-04-11 02:59] vchrombie commented on #140
The below files look the same, I would like to learn if there is any under depth meaning of this as I see @jgbarah comment over there

- [pull-requests-code-reviews-contributors-new.md](https://github.com/chaoss/wg-gmd/blob/master/metrics/pull-requests-code-reviews-contributors-new.md), [pull-request-code-reviews-new.md](https://github.com/chaoss/wg-gmd/blob/master/metrics/pull-request-code-review

[2019-04-11 03:56] harshalmittal4 commented on #140
Hey @vchrombie, as you know this project is still under development, and so the files would be made in place once the implementation for those metrics is also done. Till then I don't think adding metric files by including only the headers will do any good. Also considering the fact that this is the case for only a few metrics :slightly_smiling_face:
Anyways, this was just my opinion.

[2019-04-11 04:01] vchrombie commented on #140
Ok, @harshalmittal4. Thanks for the comment.

I too felt the same, maybe we can use this issue as a reference at that time.

If you anyone feels this as unnecessary, please let me know. I am ok with closing this issue.

[2019-04-11 04:22] harshalmittal4 commented on #140
Agreed! :innocent:

[2019-04-11 07:15] Polaris000 commented on #136
Thanks for the reply! I had a look at the discussion on youtube (since I could n't attend the call myself) just so that we are all on the same page.

[2019-04-13 07:47] harshalmittal4 commented on #81
@valeriocos, @aswanipranjal,
For the metric pull_request_participants, participants are defined as those who review a PR **or** comment on a PR **or** both (anyone who either reviews or comments on a PR) ?

[2019-04-13 09:19] vchrombie commented on #81
@harshalmittal4
I think both can be counted as participants means being a part of the discussion.

But when coming to the sample implementation in the [metrics/pull-requests-participants.md](https://github.com/chaoss/wg-gmd/blob/master/metrics/pull-requests-participants.md), it is just implemented as with review comments because the Perceval doesn't store the normal comments. I think GitHub API gi

[2019-04-13 09:24] vchrombie commented on #81
Let me give an example, this is the data retrieved by Perceval for PR #112, [pr-structure.json](https://github.com/vchrombie/chaoss-microtasks/blob/master/microtask-6/pr-structure.json).

[Jesus' comment](https://github.com/chaoss/wg-gmd/pull/112#pullrequestreview-218106202) is not stored but [Aniruddha's comment](https://github.com/chaoss/wg-gmd/pull/112#discussion_r268442329) is stored. [#L612](

[2019-04-13 10:04] harshalmittal4 commented on #81
This is already known @vchrombie :slightly_smiling_face:,  and thats why the question popped on who all to include in participants (while I was trying to implement pull_request_participants).
Anyways thanks for putting the example.

Since participants can include both reviewers and commentators, would it be good to leave the commentators. Although, the github's API for pull_requests iincludes only

[2019-04-13 10:57] vchrombie commented on #81
@harshalmittal4, thanks for letting me know.

That is really good. Then it would be a good feature for the Perceval tool too. The metric can be improved if we can fetch the PR commentators using Perceval.
What do you say @jgbarah @valeriocos @aswanipranjal

@harshalmittal4, can you see if this is the correct URL for the comments
https://api.github.com/repos/chaoss/wg-gmd/issues/112/comments

[2019-04-13 11:02] Polaris000 commented on #81
Why does https://api.github.com/repos/chaoss/wg-gmd/issues/112/comments not include Jesus' comment?

[2019-04-13 11:11] vchrombie commented on #81
I had the same doubt, let's confirm with @harshalmittal4 whether there is any other link regarding it (I couldn't find any) or maybe there is some other procedure to do it.

I also think this is not the right place for this discussion (fetching comments details using Perceval, not about the metric). Can we open an issue in the [chaoss/grimoirelab-perceval](https://github.com/chaoss/grimoirelab-per

[2019-04-13 11:26] Polaris000 commented on #81
Good idea!

[2019-04-13 12:56] harshalmittal4 commented on #81
Hey @vchrombie, @Polaris000, I would try to answer your querries, lets have some examples:
[#PR 112](https://github.com/chaoss/wg-gmd/pull/112)
Comments url : [https://api.github.com/repos/chaoss/wg-gmd/issues/23/comments](https://api.github.com/repos/chaoss/wg-gmd/issues/23/comments)
Jesus's comment isn't a regular comment, it is made when he approved the changes as you can see in the PR (lets sa

[2019-04-13 13:00] harshalmittal4 commented on #81
@valeriocos @jgbarah @aswanipranjal, ping for [this](https://github.com/chaoss/wg-gmd/issues/81#issuecomment-482795608), whenever you get time.

[2019-04-13 13:23] vchrombie commented on #81
Okay, so approval changes is also a review comment (can't read the comment though).
Thanks for the clarification @harshalmittal4. :smiley:

Nice work. I was playing with the wrong PR (with less diversity of comments). :sweat_smile:

[2019-04-13 13:29] valeriocos commented on #81
Sorry for being late in answering. If I understand correctly the discussion, it seems that some comments are retrieved and others are not. Depending on the type of comment (issue comment, pull request comment, pull request review, commit comment), the GitHub API provides different endpoints. For instance, for this issue: https://github.com/chaoss/wg-gmd/pull/12, all comments are available at:
- ht

[2019-04-13 13:36] Polaris000 commented on #81
Thanks for the reply @valeriocos!. I'd love to work on this.

[2019-04-13 13:38] harshalmittal4 commented on #81
Hey @valeriocos, for the specific case of pull_request :

The pull request comments^ are the review comments made on the the PR, and

this^ gives the comments which are not reviews, made on the same PR.

[2019-04-13 13:40] valeriocos commented on #81
Great @Polaris000 , feel free to start with one enhancement (reviews or commit comments), thanks!

[2019-04-13 14:03] harshalmittal4 commented on #81
@valeriocos, the body of the pull request retrieved by perceval for the case of  #12 is present [here](https://github.com/harshalmittal4/CHAOSS-Perceval-microtasks/blob/master/pr_structure.json).
It already contains the 3 commit comments ([line163](https://github.com/harshalmittal4/CHAOSS-Perceval-microtasks/blob/master/pr_structure.json#L163), [line 363](https://github.com/harshalmittal4/CHAOSS-P

[2019-04-13 14:22] valeriocos commented on #81
line163, line 363 and line 526 should be review comments, which are extracted with this [method](https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/github.py#L653).
Regular comments (= issue comments) are extracted when using the category `issue` (the default one, see [here](https://github.com/chaoss/grimoirelab-perceval/blob/master/perceval/backends/core/github.py#L

[2019-04-13 14:35] harshalmittal4 commented on #81
Sorry @valeriocos, just having a confusion. Are the regular comments (using `https://api.github.com/repos/<user-name>/<repo-name>/issues/<pull-id>/comments`) called the commit comments here.

[2019-04-13 14:42] harshalmittal4 commented on #81
Ok @valeriocos, I can work on including the commit comments in the PR json response. Also, do we need to include the regular comments in the PR json response?

[2019-04-13 14:46] Polaris000 commented on #81
@harshalmittal4 said:

I can work on (1) then, @valeriocos.
I'm busy for a couple of days and the patch will be slightly delayed. Hope that's alright.

[2019-04-13 14:49] valeriocos commented on #81
@harshalmittal4 @Polaris000 , feel free to open two ssues in Perceval about including commit comments and reviews.

@harshalmittal4 I wouldn't add regular comments to the PR, because they are already available when fetching issues.

@Polaris000 no worries, you can start working on it when you have time.

Thank you both!

[2019-04-13 14:55] harshalmittal4 commented on #81
Thanks @valeriocos, also need suggestions regarding [this](https://github.com/chaoss/wg-gmd/issues/81#issuecomment-482786160) (and [this](https://github.com/chaoss/wg-gmd/issues/81#issuecomment-482795608)).
Shall it be discussed in seperate issue..

[2019-04-13 14:59] valeriocos commented on #81
Good idea @harshalmittal4 , please open a different issue, we can comment there, thanks!

[2019-04-16 13:09] vchrombie commented on #140
@jgbarah @sgoggins
any comments on this issue?

[2019-04-22 19:05] jgbarah commented on #124
We decided the change in name during the latest meeting, based on the feedback here: Evolution. After a reasonable time seeing that nobody opposed, i changed the name of the repository, and accepted a patch changing the README.md file.

Thanks to all of you who participated!

[2019-04-22 19:05] #124 closed

[2019-04-23 18:30] jgbarah commented on #138
Thanks a lot @rsanchez-seerene Some of the metrics you mention, even when I agree they are correlated with efficiency, tend more to be related to facts that help the project to be more efficient, with independence of the processes that it follows. In this set of metrics, I think it is more relevant to have metrics more specifically measuring the actual performance of processes, but that's only my

[2019-04-23 22:15] jgbarah commented on #140
I would just let this as it is now, if needed explaining in the README.md file that we're still in the process of producing metrics, which means that many of the metrics found in focus area files are still not detailed, and don't have their own file.

Do you think you could produce such a text for the README.md file?

I'm labeling this as help wanted, just in case someone wants to produce that pr.

[2019-04-23 22:17] jgbarah commented on #136
Anyone willing to propose a more concrete implementation of this, or we better close the issue for now, and deal with this idea at a later stage?

[2019-04-23 22:23] jgbarah commented on #134
For "Inactive issues", I agree. I would use a definition such as "An open issue that has had no activity (comments, references, tags updated, etc) during X days previous to the snapshot time" (the metric would be defined for a snapshot time, that can be "now", or some other moment in the past.

For "Abandoned Issues" I don't think that's useful. It is rather strange that a project label an issue a

[2019-04-23 22:25] jgbarah commented on #101
I've added it as a part of #119, following the suggestion by @sgoggins.

[2019-04-23 22:26] jgbarah commented on #99
After #90 was merged, we still need to address these concerns. I'm leaving this issue open for not forgetting about that...

[2019-04-23 22:28] jgbarah commented on #83
Closing this one, since #132 addresses this (at least for now, i think).

Please feel free to reopen if you think otherwise.

[2019-04-23 22:28] #83 closed

[2019-04-23 22:28] jgbarah commented on #50
Yes, I think so. Thanks for the suggestion, @vchrombie.

[2019-04-23 22:28] #50 closed

[2019-04-24 05:44] vchrombie commented on #140
It would be good, I can produce a PR if you are Ok with that.

[2019-04-24 12:18] jgbarah commented on #140
Yes, please, go ahead.

[2019-04-24 12:42] harshalmittal4 commented on #101
@jgbarah, @sgoggins, @klumb
if there is anything else that needs to be added to name_changes.md (not sure whether to add the names of the existing metrics), let me know and I'll update it there.

[2019-04-24 13:03] harshalmittal4 commented on #136
Since the testing part is still unsure for the pipeline (which repositories to be used as test references), may we still go ahead with the pipeline idea which would enable us to evaluate more metrics at once and for more then a single repositiory; also this would ease the process of using the reference implementations of the metrics.
The testing could be added to the pipeline once this is done.

A

[2019-04-24 13:09] Polaris000 commented on #136
Thanks for the reply @harshalmittal4!. My main intention for this idea was to automate the task of evaluation, rather than testing.

Yes, this will make the task much easier.

[2019-04-24 15:00] GeorgLink commented on #134
Add a sentence to the "inactive issues" metric that some projects use the term "abandoned issues" ... explain the abandonment concept there. Optimize for SEO so that others can find it via search.

[2019-04-24 15:04] germonprez commented on #110
As related now to #119

[2019-04-24 15:05] sgoggins commented on #140
I agree that we should simply make a note in the README.md that metrics without full definitions are great places for newcomers to start, and that we are leaving them initially with a template so that newcomers will have the structure "at the ready" and be able to structure the definition as we intend.

I think we might also consder opening issues for each metric that is empty

[2019-04-24 15:07] #110 closed

[2019-04-24 16:15] vchrombie commented on #140
Sorry, I couldn't attend the meeting. I went through the discussion in the minutes just now. I will produce the required PR.

[2019-04-28 16:45] vchrombie commented on #140
Maybe we can do this while the GSoC coding time. We can open one issue for each metric for discussion, clarifications of doubts on the implementation of the metrics.

[2019-04-30 13:32] parthsharma2 commented on #134
@GeorgLink currently there is no metric defined for "abandoned issues" or "inactive issues." "Abandoned issues" is mentioned in the "[Issues resolution efficiency](https://github.com/chaoss/wg-evolution/blob/master/metrics/issues-closed-resolution-efficiency.md)" metric.

So should I create a document defining "Inactive Issues"? And also should I change "abandoned issues" to "inactive issues" in "

[2019-04-30 14:13] GeorgLink commented on #134
@parthsharma2 I realize my comment was a cryptic because it did not state that I was documenting the discussion during the weekly call.

We want both terms "inactive issues" and "abandoned issues" on the same page, because both are similar and may be found through Google.

[2019-05-07 21:31] jgbarah commented on #140
I just merged the PR. I guess we can close this issue, right?

[2019-05-07 21:39] jgbarah commented on #134
Could somebody write a note in `issues-closed-resolution-efficiency.md`, for the moment when we work with this metric, with the text that @GeorgLink suggested? That way we could close this issue.

[2019-05-07 21:40] jgbarah commented on #101
I think we can close this now, after merging #119 which includes a first version of that dictionary.

[2019-05-07 21:40] #101 closed

[2019-05-08 01:47] #140 closed

[2019-05-19 12:29] germonprez opened #149 "Naming and a few 404 errors"
Just going through the repository and there are a few instances of 404s for some of the metrics detail pages and the naming is also not consistent between the names on the focus area and the detail page. I suggest that at the next Evolution meeting, we spend some time just walking through each focus area metric to resolve any inconsistencies.

[2019-05-21 22:39] jgbarah commented on #149
Some time ago we decided to work in the focus area file, and move the names of the metrics to the "new" naming when they were linked from it. Anyway, most of the "wrong" metrics are empty templates, so we could revisit this decision and get rid of them, if we consider that's better.

[2019-05-21 23:14] jgbarah commented on #138
First pull request for a metric for this goal: #151.

[2019-05-22 14:51] parthsharma2 commented on #134
Resolved in #150. This issue can be closed now.

[2019-05-22 14:51] #134 closed

[2019-05-22 14:57] jgbarah commented on #134
Thx!

[2019-05-25 08:27] Polaris000 opened #153 "[GSoC] Re-implementing the Code_changes-git metric"
As discussed with @jgbarah and @aswanipranjal in the IRC meeting on the 24th of May (log can be found [here](https://github.com/Polaris000/GSoC_19_Perceval_Implementations/blob/master/IRC_chats/may_24_comm_bonding.txt), and blog post [here](https://polaris000.github.io/blog/com_bonding_2)), a new structure for reference implementations is being tried out:

Create a class for the analysis of refere

[2019-05-31 16:34] Polaris000 opened #154 "[GSoC] A root class from which all reference implementations inherit functionality"
My mentors (@jgbarah @valeriocos and @aswanipranjal) and I felt that creating a parent class for the entire module of python scripts generated from the reference implementations would be a great idea. This was discussed in the latest weekly IRC meeting. This class will have all of the existing reusable functionality, like reading data from Perceval and converting it to a Pandas DataFrame. This is

[2019-05-31 16:43] Polaris000 opened #155 "[GSoC] Update the Code_changes-git implementation using a root class"
Following #154 and #153, one of my tasks for this week is to create a reference implementation for Code_changes-git, keeping both the ideas (discussed in the issues) in mind.
As of now, this will be present in my [project tracker repository](https://github.com/Polaris000/GSoC_19_Perceval_Implementations). Once, it is approved, it will be added to the Evolution working group repository.

[2019-05-31 16:47] Polaris000 opened #156 "[GSoC] Create reference implementations without using pandas"
This discussion was started in the latest weekly IRC chat with my mentors (the log can be found [here](https://github.com/Polaris000/GSoC_19_Perceval_Implementations/blob/master/IRC_chats/may_31_comm_bonding.txt)) but not finished. The idea is that reference implementations for metrics do not require the use of the Pandas library, meaning that each metric can be implemented purely with the use of

[2019-05-31 16:52] Polaris000 opened #157 "[GSoC] Create implementations for a few more metrics"
After finishing the Code_changes-git metric reference implementation, my goal is to finish a few more this week. The metrics to be worked on will most likely be all other commit related metrics.

[2019-06-05 14:39] jgbarah commented on #82
I think this is done by now.

[2019-06-05 14:39] #82 closed

[2019-06-05 14:39] jgbarah commented on #81
I think this is done by now.

[2019-06-05 14:39] #81 closed

[2019-06-07 12:39] GeorgLink opened #159 "[sigils] Document how GrimoireLab dashboards can display released metrics"
This issue proposes to include in the known implementation sections of metrics a description of how GrimoireLab provides these metrics.

This requires updates to GrimoreLab Sigils dashboard description to align them with the CHAOSS metric definition.

[2019-06-07 16:52] jgbarah commented on #159
Good idea, @GeorgLink !!

Some pointers, just in case:

* [Example of a dashboard description in Sigils for a CHAOSS metric](https://chaoss.github.io/grimoirelab-sigils/chaoss-gmd-cde/lines_of_code_changed/). Maybe it would be good enough to write these kind of descriptions in Sigils, and link from the metrics description, or you think it is better to include a part of this content in the metrics

[2019-06-07 16:58] GeorgLink commented on #159
Thanks @jgbarah. I don't know what the best format is.
@alpgarcia and I will explore this together on Tuesday.
We want to have a first draft (pull request) ready to discuss at the next Evolution WG meeting.

[2019-06-13 20:26] germonprez opened #165 "Metrics for V1 Release"
Hi,

It's looking like the following Code Development metrics are (nearly?) ready for release:

Code_Changes
Code_Changes_Lines
Issues_New
Issues_Active
Issues_Closed
Reviews
Reviews_Accepted
Reviews_Declined

@jgbarah @sgoggins @GeorgLink If you have any finishing touches that need to be done before June 21, that would be great :)

[2019-06-18 10:07] #153 closed

[2019-06-18 10:07] #155 closed

[2019-06-18 10:07] #154 closed

[2019-06-18 10:09] jgbarah commented on #165
Thanks, Matt. I hope we can review all of this in our weekly meeting. There are some other metric in progress in a pull request, and some improvements as well.

[2019-06-18 16:33] Polaris000 opened #175 "[GSoC] Issue with `compute_timeseries` method in dataframe reference implementations"
`compute_timeseries` method in the commit-related metric classes can be improved. The main issue is not exactly with the current implementation of `compute_timeseries`, rather, It is because the `self.since` and `self.until` parameters have to be set to particular values. This leads to them being assigned values in the `__init__` method of the classes.

[2019-06-18 16:39] Polaris000 commented on #175
The current implemention of `compute_timeseries` of Code_Changes metric is like this:
- create a dataframe by grouping data based on `year`, followed by `month` of creation and then aggregating them with `count`.
- create a dataframe with rows representing every possible interval of time between the `since` and `until` parameters. For example, if the period is "month", then the second dataframe wi

[2019-06-18 22:30] jgbarah commented on #157
Please, have a look at #177, still under review. In it, I restructure your code for the first metric. Still some restructuring is needed, but maybe you can get the idea. If so, please consider re-writing these other metrics with that structure in mind (I think it is not far away from your proposal, but trying to formalize the structure a bit).

[2019-06-19 14:48] foundjem commented on #165
Looks good to me, just a clarification on the "Review" metric, do we keep track of the number of iteration a Refiew undergoes?

[2019-06-19 22:23] jgbarah commented on #165
Not in the "basic" Review metric. But that's a good diea, and an interesting metric that we could have for goal "Efficiency". Please, feel free to comment that in #138, and/or produce a pull request on the [code development focus area](https://github.com/chaoss/wg-evolution/blob/master/focus_areas/code_development.md).

[2019-06-19 22:27] jgbarah commented on #165
WRT the metrics ready for release, the proposal we agreed during our meeting today, following the idea of accepting all metrics that went through code review, is to propose all metrics in the ["Summary or Metrics"](https://github.com/chaoss/wg-evolution/blob/master/focus_areas/code_development.md#summary-of-metrics) table:

Goal | Question | Metric
-- | -- | --
Activity | Changes | Code_Changes
Ac

[2019-06-20 11:28] germonprez commented on #165
This sounds great to me. Thanks for the push on this.

[2019-06-21 08:28] Polaris000 opened #179 "[GSoC] Problem of being forced to use relative imports"
The structure of the `implementations` folder (has `code_df` and `notebooks_df`) makes it necessary to use relative imports for the notebooks to work. The discussion can be found [here](https://github.com/chaoss/wg-evolution/pull/177#discussion_r295176363).

The main purpose of this issue is to function as a reminder to fix this issue later on.

[2019-06-22 17:54] GeorgLink opened #181 "Candidate Release Comments (Code Changes)"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about **Code Changes**

GitHub location: https://github.com/chaoss/wg-evolution/blob/master/metrics/Code_Changes.md

Release candidate: https://chaoss.community/metric-code-changes/

See all release candidates of metrics are at:
https://chaoss.community/metrics-rc/

**Important Dates**

Rele

[2019-06-22 18:04] GeorgLink opened #182 "Candidate Release Comments (Code Changes Lines)"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about **Code Changes Lines**

GitHub location: https://github.com/chaoss/wg-evolution/blob/master/metrics/Code_Changes_Lines.md

Release candidate: https://chaoss.community/metric-code-changes-lines

See all release candidates of metrics are at:
https://chaoss.community/metrics-rc/

**Import

[2019-06-22 18:07] GeorgLink opened #183 "Candidate Release Comments (Reviews)"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about **Reviews**

GitHub location: https://github.com/chaoss/wg-evolution/blob/master/metrics/Reviews.md

Release candidate: https://chaoss.community/metric-reviews

See all release candidates of metrics are at:
https://chaoss.community/metrics-rc/

**Important Dates**

Release Freeze: June

[2019-06-22 18:10] GeorgLink opened #184 "Candidate Release Comments (Reviews Accepted)"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about **Reviews Accepted**

GitHub location: https://github.com/chaoss/wg-evolution/blob/master/metrics/Reviews_Accepted.md

Release candidate: https://chaoss.community/metric-reviews-accepted

See all release candidates of metrics are at:
https://chaoss.community/metrics-rc/

**Important Da

[2019-06-22 18:11] GeorgLink opened #185 "Candidate Release Comments (Reviews Declined)"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about **Reviews Declined**

GitHub location: https://github.com/chaoss/wg-evolution/blob/master/metrics/Reviews_Declined.md

Release candidate: https://chaoss.community/metric-reviews-declined

See all release candidates of metrics are at:
https://chaoss.community/metrics-rc/

**Important Da

[2019-06-22 18:13] GeorgLink opened #186 "Candidate Release Comments (Issues New)"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about **Issues New**

GitHub location: https://github.com/chaoss/wg-evolution/blob/master/metrics/Issues_New.md

Release candidate: https://chaoss.community/metric-issues

See all release candidates of metrics are at:
https://chaoss.community/metrics-rc/

**Important Dates**

Release Freeze:

[2019-06-22 18:14] GeorgLink opened #187 "Candidate Release Comments (Issues Active)"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about **Issues Active**

GitHub location: https://github.com/chaoss/wg-evolution/blob/master/metrics/Issues_Active.md

Release candidate: https://chaoss.community/metric-issues-active

See all release candidates of metrics are at:
https://chaoss.community/metrics-rc/

**Important Dates**

Re

[2019-06-22 18:15] GeorgLink opened #188 "Candidate Release Comments (Issues Closed)"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about **Issues Closed**

GitHub location: https://github.com/chaoss/wg-evolution/blob/master/metrics/Issues_Closed.md

Release candidate: https://chaoss.community/metric-issues-closed

See all release candidates of metrics are at:
https://chaoss.community/metrics-rc/

**Important Dates**

Re

[2019-06-22 18:16] GeorgLink opened #189 "Candidate Release Comments (Review Duration)"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about **Review Duration**

GitHub location: https://github.com/chaoss/wg-evolution/blob/master/metrics/Reviews_Duration.md

Release candidate: https://chaoss.community/metric-review-duration

See all release candidates of metrics are at:
https://chaoss.community/metrics-rc/

**Important Date

[2019-06-25 18:21] klumb commented on #181
Broken link at line 104 (See reference implementation for git ) - Might be a dead link

[2019-06-25 18:41] klumb commented on #187
Dead link (Issues are defined as in [Issues](Issues.md).) at line 8.

Not sure if this should go to "Issues New"

 if so will need an absolute URL path

[2019-06-25 18:44] klumb commented on #188
Dead link (Issues are defined as in Issues.) at line 8.

Not sure if this should go to "Issues New"

if so will need an absolute URL path

[2019-06-26 04:57] Polaris000 commented on #181
@GeorgLink, the implementations have been redesigned. The link to the notebook for Code_Changes-Git is this:
https://github.com/chaoss/wg-evolution/blob/master/implementations/notebooks_df/code_changes_git.ipynb

[2019-06-28 16:12] Polaris000 commented on #175
Closing this since this was addressed in#176

[2019-06-28 16:12] #175 closed

[2019-06-28 16:32] Polaris000 opened #192 "[GSoC] Separating column selection and aggregation in time_series method"
This issue has been opened to address the problem of separating column selection and aggregation. The aim is to perform an aggregation operation on a DataFrame after resampling it into buckets of a fixed time interval, like a week or a month.
A rough idea would be:
[code]
This becomes really specific since every metric reference implementation will have its own selection of columns as well as its

[2019-07-03 14:39] jgbarah commented on #188
Yes, this should be Issues New.

[2019-07-03 14:40] jgbarah commented on #187
Yes, it is Issues New.

[2019-07-03 14:44] jgbarah commented on #181
Yes, the link should go to the new implementation (see @Polaris000 comment)

[2019-07-03 14:46] #165 closed

[2019-07-03 14:47] jgbarah commented on #159
I think we're done with this. Thanks!

[2019-07-03 14:47] #159 closed

[2019-07-03 15:07] klumb opened #199 "Remove Comment on Release Link (August 1st, 2019)"
Remove the "Comment on Release" Link from the metrics detail pages after the release (August 1st, 2019).

[2019-07-03 16:47] GeorgLink commented on #165
Yes. Thank you.

[2019-07-03 17:48] foundjem commented on #181
The rationale for `Naive implementation` is reasonable enough, but its not clear to me if "affecting the code" means introducing a bug for example. If that should be the case here, then maybe SZZ algorithm will best tell us which particular commit introduce a bug. What do you think?

[2019-07-03 18:08] foundjem commented on #189
The structural definition of this metric looks good to me.  The only issue that may arise with any kind of computation that captures duration, is the `time between no activity`.  For example, consider an ongoing review process, and suppose there is a time slot let's say two months in between the review process were there is no activity, should we still count this two months period as review time?

[2019-07-04 19:29] sgoggins commented on #188
I think issues related to source code might be identifiable with a different metric. This varies widely in practice, with platforms like GitHub and GitLab supporting linking more organically... Yet I don't think the consistency of use is widespread.

So, with regards to this definition from the metric (below), my suggestion is that the default assumption that an issue is NOT linked to source code

[2019-07-04 19:33] sgoggins commented on #188
Based on @klumb and @jgbarah comments above mine, I am unsure if I commented in the right place. :)

[2019-07-05 10:40] #157 closed

[2019-07-07 20:10] Polaris000 opened #201 "[GSoC] The need for passing `df` as a parameter to `_agg` method"
As pointed out in a comment by @jgbarah [here](https://github.com/chaoss/wg-evolution/pull/194#discussion_r300644522).

The `time_series` method in the Metric (root) class goes like this:
[code]
In the implementation we have, if we use `self.df` directly in `_agg`, there is not much point in having the `time_series` method, since we would now be creating and modifying `df` inside `_agg`.

This iss

[2019-07-09 16:41] sgoggins commented on #182
I think we should provide a reference for different types of merge commits and how they might be evaluated. I don't think its complex, but different systems use different types of flags (i.e., Github v a straightup git repo v gitlab).

[2019-07-09 16:42] sgoggins commented on #182
I would like to see:
1. Lines Deleted
2. Lines added
3. Whitespace

as lines of code categories that are optional.

[2019-07-09 17:15] jgbarah commented on #182
Thanks, @sgoggins. Changes in source code refer mostly to commits, and thus are the same with independence of how commits are reviewed. In the metric description we have a [specific section on git](https://github.com/chaoss/wg-evolution/blob/master/metrics/Code_Changes_Lines.md#specific-description-git), because currently, this is defined only for git commits. But of course, other source code revi

[2019-07-09 17:17] jgbarah commented on #182
Thanks, @sgoggins. What do you mean by "categories that are optional"?

[2019-07-09 17:18] jgbarah commented on #188
I think this is the right place to comment on the Issues Closed metric ;-)

[2019-07-09 17:40] jgbarah commented on #188
This is indeed the default assumption. What we wanted is to capture metrics related to source code, since this is defined in context of the [Code Developement focus area](https://github.com/chaoss/wg-evolution/blob/master/focus_areas/code_development.md). But since, as you suggest, knowing when an issue is related to source code is tricky (except when projects are labeling them themselves), we pro

[2019-07-09 17:46] jgbarah commented on #189
Thanks for the comment. The idea here is to capture the time since the review starts to the review is done (with the code merged in the code base). This is important, because it is the time that passes since somebody proposes some change to the code, to the moment that code is merged. Maybe the name of the metric, or the short description, is misleading?

[2019-07-09 17:48] jgbarah commented on #181
In this case, "affecting the code" means that the change touches "source code" or if you want, "source code files". It may introduce a bug, or not, that is something which is not addressed here: only the change is relevant. Think of a commit that may include source code files between the files it changes, or not.

Is it more clear now? Do you think we should clarify the text?

[2019-07-09 17:58] foundjem commented on #181
@jgbarah thanks, it's clearer now. Since we are not considering if multiple changes might be bugged prone.

[2019-07-09 18:25] foundjem commented on #182
@sgoggins I think we can know this from git log/diff?

The visualization makes this metric more informative.

[2019-07-09 18:53] foundjem commented on #183
looks good to me

[2019-07-09 19:16] foundjem commented on #184
look good to me

[2019-07-09 19:18] foundjem commented on #185
Looks good to me

[2019-07-09 19:20] foundjem commented on #186
Can we add severity to this metric? For example, critical etc.

[2019-07-09 19:23] foundjem commented on #187
Active issues: we mean from open date to closed date right?

[2019-07-09 19:29] foundjem commented on #188
In some communities, source code and documentation are treated with the same level of importance.

[2019-07-10 15:26] jgbarah commented on #188
Thanks, @foundjem, you are right. But I think this is not  matter of importance. In any project, you may be interested in, for example, how issues for code are performing, and issues for documentation. Both may have different characteristics, and both may have for example, different typical time spans. Sin we're in the context of the "code development" focus area, metric should be referred to sour

[2019-07-10 15:28] jgbarah commented on #187
I'm not sure what you are referring to. From the [Issues Active definition](https://github.com/chaoss/wg-evolution/blob/master/metrics/Issues_Active.md): "Issues related to the source code that showed some activity during a certain period".

[2019-07-10 15:30] jgbarah commented on #186
What do you mean? The metric is intended to know how many issues are opened (filled) during a certain period. In this context, what do you mean by "add severity to this metric"?

[2019-07-10 15:31] jgbarah commented on #184
Which one would be duplicating?

[2019-07-11 13:53] germonprez commented on #183
Me too

[2019-07-11 13:54] germonprez commented on #184
@foundjem what is this duplicating?

[2019-07-11 13:54] germonprez commented on #185
LGTM

[2019-07-11 13:55] germonprez commented on #186
I think severity is not needed in this case. It could be something to consider with tags on issues but perhaps it's not necessary to accommodate right now.

[2019-07-11 13:58] germonprez commented on #184
Ah! I see the duplicate. @klumb, in the webpage candidate list, Reviews Accepted is listed twice. Both link back to this issue.

[2019-07-11 14:30] klumb commented on #184
It is listed twice because it informs two code development goals - activity and efficiency. We are presenting the metrics in the goal/question/metric format. Which means that any individual metric that informs multiple questions or goals could be presented multiple times. Additionally, if a metric is identified by multiple workgroups it could be presented in different tables. This was discussed br

[2019-07-11 14:49] klumb commented on #184
However, I should note that the detail page it self is not duplicated and the issue links go the same place **so work on the metric is not being duplicated** it is only being presented in different places according to the goal/question/metic format.

[2019-07-11 14:57] foundjem commented on #184
@klumb Thanks for the detail explanation, sounds good to me and clearer.

[2019-07-12 22:04] foundjem commented on #186
Ok, sounds good to me

[2019-07-15 21:49] jgbarah commented on #184
@klumb @germonprez @foundjem thanks!

[2019-07-17 05:01] rpaik commented on #181
For the "Activity", suggest rephrasing this to "Learn about activity involved in developing (e.g. adding/changing) code.

[2019-07-17 05:04] rpaik commented on #181
Rephrase the third question to "How many issues related to the source code are there during a certain time period?"

[2019-07-17 11:00] jgbarah commented on #181
Thanks for your comments, @rpaik. I understand that you refer to the focus area document, not to this specific metric. I've just opened #209 with (hopefully) your proposal.

[2019-07-23 11:24] Polaris000 opened #225 "[GSoC] Proposal to add travis CI feature to reference implementations"
The purpose of this issue is to discuss the idea and implementation for adding travis integration to the repository.

[2019-07-23 11:29] valeriocos commented on #225
Thank you @Polaris000 to open this issue, I have just pinged @germonprez to get write access on this repo.

[2019-07-23 14:13] GeorgLink commented on #225
I could give @valeriocos access on the grounds that he is a very active and trusted GSoC mentor.

@sgoggins and @jgbarah, as the maintainers for the Evolution WG, are you okay with Valerio getting access to this repo?

[2019-07-23 14:18] GeorgLink commented on #225
Update: @valeriocos already has Write permission on the repo.

[2019-07-23 16:48] sgoggins commented on #225
Could we hear a little more about the expected use case?

[2019-07-23 17:11] valeriocos commented on #225
Sure @sgoggins , the idea of adding CI support for the work done in GSoC came out https://github.com/Polaris000/GSoC_19_Perceval_Implementations/blob/master/IRC_chats/july_16_week6.txt.

Tests and CI can be useful to be sure that the outcome of the metrics implementations are correct. I guess @jgbarah can give more details about it.

[2019-07-23 19:03] GeorgLink commented on #225
I upgraded @valeriocos to admin rights on this repo, to enable him. I still think that there is more to be discussed during the next call and maybe some innovation for all CHAOSS WGs

[2019-07-23 19:08] valeriocos commented on #225
Thank you for upgrading my permissions @GeorgLink . I guess we can freeze everything until the next call. This shouldn't be a blocker since @Polaris000 can run the tests locally.
@Polaris000 feel free to join the discussion.

[2019-07-25 06:34] Polaris000 commented on #225
Thanks @GeorgLink. I agree with @valeriocos that this can be put on hold till the next call and when Jesus will return.

[2019-07-31 14:48] sgoggins commented on #189
My interpretation of the metric description is that even with no activity, an open review period's time will be counted. I think this is covered.

[2019-07-31 14:48] #189 closed

[2019-07-31 15:06] germonprez commented on #188
Addressed and closed.

[2019-07-31 15:06] #188 closed

[2019-07-31 15:12] germonprez commented on #187
Addressed.

[2019-07-31 15:12] #187 closed

[2019-07-31 15:15] sgoggins commented on #186
Addresssed all the issues.

[2019-07-31 15:15] #186 closed

[2019-07-31 15:17] #185 closed

[2019-07-31 15:19] germonprez commented on #184
Resolved.

[2019-07-31 15:19] #184 closed

[2019-07-31 15:20] #183 closed

[2019-07-31 15:28] germonprez commented on #182
Resolved via:
https://github.com/chaoss/wg-evolution/pull/231

[2019-07-31 15:28] #182 closed

[2019-07-31 15:29] germonprez commented on #181
Resolved

[2019-07-31 15:29] #181 closed

[2019-07-31 15:29] #199 closed

[2019-07-31 15:30] klumb commented on #199
Resolved

[2019-08-01 19:31] sgoggins opened #233 "Code_Changes Ambiguity"
After several readings its not completely clear to me if the metric `Code_Changes` should be counting "changes" as "commits" or as "files changed". I can read parts of the definition either way.

Can we clarify our intention?

[2019-08-01 20:13] foundjem commented on #233
In agree with you @sgoggins, there is some ambiguity in the text. On commit can change multiple files, however, for every file changed there must be a commit. So, it's like a one-many vs one-one relationship dependent on how we look at it.

I suggest we count code_change at the atomic level as source code changes at file(s) level.

Signed-off-by: Armstrong <foundjem@ieee.org>

[2019-08-02 18:04] jgbarah commented on #233
The idea of a commit in git (which is what we're trying to mimic with Code_Changes) is present (to my knowledge) in all modern source code management systems, and is "a change to the source code that makes sense as a single unit to the developers". Usually, it touches several files, and that's the usual metric that is present in most toolings when they consider "units of change to the source code"

[2019-08-02 18:08] klumb opened #234 "General Issues for copy editing and standardization"
remove underscores from all titles
-code changes (complete)
- code change lines (complete)
-reviews (NA)
-reviews accepted (complete)
-reviews declined (complete)

copy edit bullet points for a standard look
- code changes (complete)
-code change lines (complete)
-reviews (complete)
-reviews accepted (complete)
-reviews declined (complete)

[2019-08-02 18:17] klumb commented on #234
-issues new (complete)
-issues active (complete)
-issues closed (complete)
-reviews duration (complete)

[2019-08-02 19:00] klumb commented on #234
To be clear, these changes were made by Matt and myself.

I created the issue for transparency purposes.

[2019-08-06 09:11] #156 closed

[2019-08-12 04:46] Polaris000 commented on #179
I am closing this since it has been resolved.

[2019-08-12 04:46] #179 closed

[2019-08-14 14:47] germonprez commented on #234
Complete

[2019-08-14 14:47] #234 closed

[2019-08-14 14:49] germonprez commented on #149
Complete

[2019-08-14 14:49] #149 closed

[2019-08-14 14:51] sgoggins commented on #225
I think we can implement Travis-CI, but before we do, a group of at least two individuals who are willing to manage and maintain and setup that infrastructure on an ongoing basis should be identified.

[2019-08-14 14:53] sgoggins commented on #61
@kfogel : If no movement in the next two weeks we are closing this issue.

[2019-08-14 14:53] sgoggins commented on #48
@kfogel  and @GeorgLink : Can this issue be closed with the pull request.

[2019-08-14 14:54] sgoggins commented on #48
Closing as discussino is continuing in another issue.

[2019-08-14 14:54] #48 closed

[2019-08-14 14:55] sgoggins commented on #99
This issue will be revisited with the new metrics release.

[2019-08-14 14:55] #99 closed

[2019-08-14 14:56] sgoggins commented on #138
We need to discuss this as one of the next metrics we discuss at the next meeting.

[2019-08-22 16:52] jgbarah commented on #225
Well, I think we're done with all of this. So, closing it.

[2019-08-22 16:52] #225 closed

[2019-08-25 03:38] kfogel commented on #61
My apologies, @sgoggins.  I won't have time to develop this further right now; please go ahead and close.  If I become able to, we can always re-open.

[2019-08-28 08:22] jgbarah commented on #61
Thanjs, @sgoggins @kfogel. Closing then.

[2019-08-28 08:22] #61 closed

[2019-08-28 16:06] Polaris000 commented on #136
Hasn't this been completed as part of this year's GSoC?

[2019-08-28 16:09] Polaris000 commented on #136
I think this has already been implemented as part of the GSoC project of this year...

[2019-08-29 20:45] GeorgLink opened #243 "Issue closed with/without code change"
I was looking through our Issue metrics and didn't find specifically what I was looking for:

I want a metric for what percentage of issues resulted in code changes. In GitHub that could be   expressed as a reference between an issue and a merged pull request. This metric would be helpful to get a gauge for whether a community is more talkative or more outcome-driven.

Here is a visual for what th

[2019-08-30 07:28] valeriocos commented on #243
For `code changes` you mean everything that is in a PR (even PRs containing changes on the documentation)?

Focusing on the issue closed without code changed, they may include more kinds of "talkative" issues, for instance the ones asking about how to use a functionality or invalid bug reports (which don't lead to a PR, but born as potential outcome-driven). For this reason, it would be helpful to

[2019-08-30 08:20] jgbarah commented on #243
I find this metric you propose as a holy gray, not easy to implement, but very interesting. WRT the metrics we have now, yes, it would be implemented as "Issues_Closed", with the filter for "is source code" set to "touched at least one source code file when fixed". The problem, as @valeriocos states, is how to know if the fix touched code or not.

To begin with, you need to know if there is a fix.

[2019-10-26 12:29] germonprez opened #252 "Cycle Analytics"
A nice post to the list highlighted this work being done by GitLab

https://docs.gitlab.com/ee/user/project/cycle_analytics.html

[2019-10-26 12:43] germonprez opened #253 "Update Metrics to New Template"
@ccarterlandis are you handling this? I wasn't at the last meeting so I'm not sure what the current path is to get this done.

[2019-10-27 01:11] ccarterlandis commented on #253
Yes, I will get started on it ASAP! My current plan is to do one focus area at a time.

[2019-10-27 13:09] germonprez commented on #253
Great. I'm happy to help.

[2019-11-02 12:24] GeorgLink opened #255 "Consolidate two template folder"
This WG has two template folders that duplicate information and are out of sync:

1. https://github.com/chaoss/wg-evolution/tree/master/focus_areas/templates
2. https://github.com/chaoss/wg-evolution/tree/master/metrics/template_folder

This issue proposes to consolidate the template folders.

[2019-11-03 13:03] germonprez commented on #255
Agreed. We should just have one template folder with one template.

[2019-11-07 16:07] GeorgLink commented on #255
resolved with #258

[2019-11-07 16:08] #255 closed

[2019-12-09 13:26] GeorgLink opened #276 "Metric: Line Impact"
GitClear is promoting a metric "Line Impact".

I don't know if we already have it or whether it's worth adding it to our own metrics.

https://www.gitclear.com/blog/toward_developer_measurement_of_greatest_shared_benefit

[2019-12-19 16:55] GeorgLink commented on #253
I think this issue is complete for v2 release. Closing.

[2019-12-19 16:55] #253 closed

[2019-12-30 20:06] klumb opened #280 "Release Candidate Comments (Code Changes)"
This issue was created to collect comments about the upcoming metrics release.

**This thread is for comments about Code Changes**

GitHub location: https://github.com/chaoss/wg-evolution/blob/master/metrics/Code_Changes.md

See all release candidates of metrics are at:
https://chaoss.community/metrics-202001/

[2019-12-30 20:11] klumb opened #281 "Release Candidate Comments (Code Changes Lines)"
This issue was created to collect comments about the upcoming metrics release.

**This thread is for comments about Code Changes Lines**

GitHub location: https://github.com/chaoss/wg-evolution/blob/main/metrics/Code_Changes_Lines.md

See all release candidates of metrics are at:
https://chaoss.community/metrics-202001/

[2019-12-30 20:15] klumb opened #282 "Release Candidate Comments (Reviews Accepted)"
This issue was created to collect comments about the upcoming metrics release.

**This thread is for comments about Reviews Accepted**

GitHub location: https://github.com/chaoss/wg-evolution/blob/master/metrics/Reviews_Accepted.md

See all release candidates of metrics are at:
https://chaoss.community/metrics-202001/

[2019-12-30 20:17] klumb opened #283 "Release Candidate Comments (Reviews Declined)"
This issue was created to collect comments about the upcoming metrics release.

**This thread is for comments about Reviews Declined**

GitHub location: https://github.com/chaoss/wg-evolution/blob/master/metrics/Reviews_Declined.md

See all release candidates of metrics are at:
https://chaoss.community/metrics-202001/

[2019-12-30 20:18] klumb opened #284 "Release Candidate Comments (Reviews Duration)"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about Reviews Duration

GitHub location: https://github.com/chaoss/wg-evolution/blob/master/metrics/Reviews_Duration.md

See all release candidates of metrics are at:
https://chaoss.community/metrics-202001/

[2019-12-30 20:20] klumb opened #285 "Release Candidate Comments (Reviews)"
This issue was created to collect comments about the upcoming metrics release.

**This thread is for comments about Reviews**

GitHub location: https://github.com/chaoss/wg-evolution/blob/master/metrics/Reviews.md

See all release candidates of metrics are at:
https://chaoss.community/metrics-202001/

[2019-12-30 20:22] klumb opened #286 "Release Candidate Comments (Issues New)"
This issue was created to collect comments about the upcoming metrics release.

**This thread is for comments about Issues New**

GitHub location: https://github.com/chaoss/wg-evolution/blob/master/metrics/Issues_New.md

See all release candidates of metrics are at:
https://chaoss.community/metrics-202001/

[2019-12-30 20:23] klumb opened #287 "Release Candidate Comments (Issues Active)"
This issue was created to collect comments about the upcoming metrics release.

**This thread is for comments about Issues Active**

GitHub location: https://github.com/chaoss/wg-evolution/blob/master/metrics/Issues_Active.md

See all release candidates of metrics are at:
https://chaoss.community/metrics-202001/

[2019-12-30 20:26] klumb opened #288 "Release Candidate Comments (Issues Closed)"
This issue was created to collect comments about the upcoming metrics release.

**This thread is for comments about Issues Closed**

GitHub location: https://github.com/chaoss/wg-evolution/blob/master/metrics/Issues_Closed.md

See all release candidates of metrics are at:
https://chaoss.community/metrics-202001/

[2019-12-30 20:28] klumb opened #289 "Release Candidate Comments (Issue Age)"
This issue was created to collect comments about the upcoming metrics release.

**This thread is for comments about Issue Age**

GitHub location: https://github.com/chaoss/wg-evolution/blob/master/metrics/Issue_Age.md

See all release candidates of metrics are at:
https://chaoss.community/metrics-202001/

[2019-12-30 20:30] klumb opened #290 "Release Candidate Comments (Issue Response Time)"
This issue was created to collect comments about the upcoming metrics release.

**This thread is for comments about Issue Response Time**

GitHub location: https://github.com/chaoss/wg-evolution/blob/master/metrics/Issue_Response_Time.md

See all release candidates of metrics are at:
https://chaoss.community/metrics-202001/

[2019-12-30 20:33] klumb opened #291 "Release Candidate Comments (Issue Resolution Duration)"
This issue was created to collect comments about the upcoming metrics release.

**This thread is for comments about Issue Resolution Duration**

GitHub location: https://github.com/chaoss/wg-evolution/blob/master/metrics/Issue_Resolution_Duration.md

See all release candidates of metrics are at:
https://chaoss.community/metrics-202001/

[2019-12-30 20:35] klumb opened #292 "Release Candidate Comments (New Contributors Closing Issues)"
This issue was created to collect comments about the upcoming metrics release.

**This thread is for comments about New Contributors Closing Issues**

GitHub location: https://github.com/chaoss/wg-evolution/blob/master/metrics/New_Contributor_Closing_Issues.md

See all release candidates of metrics are at:
https://chaoss.community/metrics-202001/

[2019-12-30 20:49] foundjem commented on #292
I have this minor concern other wise LGTM

During implementation should we consider both types of contributors “especially for contributors who are not also committers?”

Signed-off-by: Foundjem <foundjem@ieee.org>

[2019-12-30 20:54] foundjem commented on #291
LGTM!

Signed-off-by: Foundjem <foundjem@ieee.org>

[2019-12-30 21:05] klumb commented on #292
@foundjem, what do you mean by "both types of contributors"?

[2020-01-09 16:47] xaviier12 commented on #280
Hello everyone,

For this release, I agree about the existing, but I think we could use the message of commits.
For me, this message can contain some important information to analysis the Code Changes into a project.

If in a project, a certain structure is defined to write the message for the commits, then we would have the possibility to classify the commits.
For example, in [Odoo](https://githu

[2020-01-09 16:59] klumb opened #301 "Release Notes (evolution)"
Please leave comments and notes here to help construct the release notes document.

[2020-01-09 21:11] bproffitt commented on #292
Wondering if the title for this is correct. These are not new contributors, so much as contributors closing issues for the first time on a given project.

Also this metric feels incomplete. Are there no tool implementations?

[2020-01-10 10:29] jgbarah commented on #292
I agree with you, @bproffitt. The idea was to keep a general name "New Contributors", and then a "category name" (Closing Issues), which would read as "new contributors in closing issues" or more clearly "persons closing issues for the first time". I don't know if it is better to keep all kinds of "new contributors" with a common name, or it is better to write it in the form which is easier to und

[2020-01-13 21:17] germonprez commented on #280
"Resources" should be "References"

[2020-01-13 21:17] germonprez commented on #281
"Resources" should be "References"

[2020-01-13 21:17] germonprez commented on #282
"Resources" should be "References"

[2020-01-13 21:17] germonprez commented on #283
"Resources" should be "References"

[2020-01-13 21:18] germonprez commented on #284
"Resources" should be "References"

[2020-01-13 21:18] germonprez commented on #285
"Resources" should be "References"

[2020-01-13 21:18] germonprez commented on #286
"Resources" should be "References"

[2020-01-13 21:18] germonprez commented on #287
"Resources" should be "References"

[2020-01-13 21:19] germonprez commented on #288
"Resources" should be "References"

[2020-01-13 21:19] germonprez commented on #291
"Resources" should be "References"

[2020-01-13 21:19] germonprez commented on #289
"Resources" should be "References"

[2020-01-13 21:29] germonprez commented on #280
Augur provides this metric both as Code Changes and as Code Changes Lines. Both metrics are available in both the repo and the repo_group metric forms - more on that in the Augur documentation.

The links in this line are leading to some 403 errors

[2020-01-13 21:30] germonprez commented on #282
Un-bold "Question"

[2020-01-13 21:30] germonprez commented on #283
Un-bold "Question"

[2020-01-13 21:32] germonprez commented on #286
Remove from the Description: The first few sentences should match the description in the metrics list.

[2020-01-13 21:34] germonprez commented on #290
Provide a Link to GrimoireLab in the Tools Providing the Metric.

[2020-01-13 21:36] germonprez commented on #289
Do you want to provide a link to the New Issue metric as a pointer for describing what an Issue is?

https://github.com/chaoss/wg-evolution/blob/master/metrics/Issues_New.md

I ask because you do this in Issue Active and Issue Closed

[2020-01-13 22:09] germonprez commented on #290
Do you want to provide a link to the New Issue metric as a pointer for describing what an Issue is?

https://github.com/chaoss/wg-evolution/blob/master/metrics/Issues_New.md

I ask because you do this in Issue Active and Issue Closed

[2020-01-14 16:45] ccarterlandis commented on #290
@GeorgLink any thoughts on what link should we use for GrimoireLab under the "Tools Providing the Metric" section?

[2020-01-14 16:53] klumb commented on #292
It would be nice to have common naming conventions for the metrics but I don't think we have been able to develop a usable structure so I would agree with @jgbarah and @bproffitt we should probably go with what is easiest to understand.

[2020-01-14 18:29] ccarterlandis commented on #291
@germonprez fixed in #311

[2020-01-14 18:29] ccarterlandis commented on #289
@germonprez fixed in #310

[2020-01-14 18:30] ccarterlandis commented on #288
@germonprez fixed by #309

[2020-01-14 18:31] ccarterlandis commented on #287
@germonprez fixed in #308

[2020-01-14 18:31] ccarterlandis commented on #286
@germonprez fixed in #307

[2020-01-14 18:32] ccarterlandis commented on #285
@germonprez fixed in #306

[2020-01-14 18:32] ccarterlandis commented on #284
@germonprez fixed by #305

[2020-01-14 18:33] ccarterlandis commented on #283
@germonprez fixed by #304

[2020-01-14 18:33] ccarterlandis commented on #282
@germonprez fixed by #303

[2020-01-15 20:18] GeorgLink commented on #290
Depending on what the goal is:

1. The generic GrimoireLab homepage that we often link to: https://chaoss.github.io/grimoirelab/
2. The panel: https://chaoss.github.io/grimoirelab-sigils/panels/github-issues-efficiency/

[2020-01-16 16:50] ccarterlandis commented on #301
To include here (brief):
1. Changes in existing metrics
2. New metrics added

[2020-01-21 16:34] foundjem commented on #285
I think we should add some reference(s) either from Gerrit or Gitlab to support the rationale of this metric, at present, there is no reference.

Signed-off-by: Armstrong Foundjem <foundjem@ieee.org>

[2020-01-21 16:50] foundjem commented on #290
In addition, on

we should mention that Selected Tools providing the Metric. So that we are not locked down by these two tools.

Signed-off-by: Armstrong Foundjem <foundjem@ieee.org>

[2020-01-21 17:11] foundjem commented on #286
- LGTM

We just need to add references (links to some of the metrics)

Signed-off-by: Armstrong Foundjem <foundjem@ieee.org>

[2020-01-21 17:12] germonprez commented on #301
@ccarterlandis could you update the release notes to include:

- New metrics
- Changes to the focus areas (what is the new structure)?
- If there are any major changes to the metrics.

[2020-01-21 17:49] foundjem commented on #283
I have a concern about this metric. For example, (i) reviews that authors themselves abandon; this will not also be merged in the codebase, similarly, (ii) declined can also mean that the author(s) did not satisfy the reviewers' requirements before they could accept and merge the patch, etc.

Signed-off-by: Armstrong Foundjem <foundjem@ieee.org>

[2020-01-23 14:45] ccarterlandis commented on #281
Fixed in #302

[2020-01-23 14:50] ccarterlandis commented on #283
Link to Grimoirelab documentation added by #318

[2020-01-23 14:51] ccarterlandis commented on #290
Link to Grimoirelab documentation added by #318

[2020-01-23 17:18] klumb opened #319 "Merging evolution and common metric (time to response)"
@ccarterlandis,

These metrics are very similar.

Should we merge them for release or try to differentiate them more?

 If we merge, do we want it here in evolution or should we give it to common?

https://github.com/chaoss/wg-evolution/blob/master/metrics/Issue_Response_Time.md
https://github.com/chaoss/wg-common/blob/master/focus-areas/when/time-to-first-response.md

[2020-01-23 20:49] ccarterlandis commented on #301
# Release Notes

## New Metrics
- Issue Age
- Issue Response Time
- Issue Resolution Duration
- New Contributors Closing Issues

## Updated Focus Areas
For this release, we refactored the "Code Development" focus area into 3 separate focus areas:

	1. Code Development Activity
	2. Code Development Efficiency
	3. Code Development Process Quality

This change was made in order to more closely align

[2020-01-24 15:27] GeorgLink commented on #319
My [comment from the mailing list discussion](https://lists.linuxfoundation.org/pipermail/chaoss/2020-January/001038.html)

[2020-01-24 19:15] ccarterlandis commented on #319
+1 from me @GeorgLink! Do you want to open a PR with the change? I am also happy to do it 😄

[2020-01-24 22:22] GeorgLink commented on #319
If you have the time to do it, please do. Thanks!

[2020-01-25 16:01] foundjem commented on #282
LGTM

Some minor suggestions:
 - Add references
 - There is a duplicate entry for
 **Mandatory parameters:**

Signed-off-by: Armstrong Foundjem<foundjem@ieee.org>

[2020-01-25 16:08] klumb commented on #319
@ccarterlandis, the text looks good in the PR. I would move it to the description section though.  @GeorgLink thoughts?

[2020-01-25 16:08] klumb commented on #292
Is this metric ready for release?

[2020-01-25 16:10] klumb commented on #291
I am marking this metric as ready for release and closing. Please reopen if that is not the case.

[2020-01-25 16:10] #291 closed

[2020-01-25 16:12] klumb commented on #290
I am marking this metric as ready for release and closing. Please reopen if that is not the case.

[2020-01-25 16:14] klumb commented on #289
I am marking this metric as ready for release and closing. Please reopen if that is not the case.

[2020-01-25 16:14] #289 closed

[2020-01-25 16:15] klumb commented on #287
I am marking this issue as ready for release and closing. Please reopen if that is not the case.

[2020-01-25 16:16] klumb commented on #288
I am marking this issue as ready for release and closing. Please reopen if that is not the case.

[2020-01-25 16:17] klumb commented on #286
Is this metric ready for release?

[2020-01-25 16:17] klumb commented on #285
Is this metric ready for release?

[2020-01-25 16:18] klumb commented on #284
I am marking this issue as ready for release and closing. Please reopen if that is not the case.

[2020-01-25 16:18] #284 closed

[2020-01-25 16:18] ccarterlandis commented on #292
@tommens has a PR still open for this metric (#297), do we want to wait just a little longer in case others have suggestions for the name, or go ahead and merge?

[2020-01-25 16:19] klumb commented on #283
Is this metric ready for release?

@foundjem do you have specific edits in mind?

[2020-01-25 16:22] ccarterlandis commented on #319
@GeorgLink @klumb I moved the text to the description section and merge my PR, please feel free to revert & re-open this issue if you'd like me to change it again!

[2020-01-25 16:22] #319 closed

[2020-01-25 16:22] klumb commented on #290
Sorry reopened as it is connect to PR #321

[2020-01-25 16:23] klumb commented on #290
@carter, do you think we are good here?

[2020-01-25 16:23] klumb commented on #280
Is this metric ready to go?

[2020-01-25 16:24] ccarterlandis commented on #290
Yes! @klumb

[2020-01-25 16:25] klumb commented on #281
I am marking this as ready for release and closing. Please reopen if that is not the case.

[2020-01-25 16:26] klumb commented on #282
Is this ready for release?

@foundjem do you have specific edits in mind?

[2020-01-25 16:27] ccarterlandis commented on #286
Barring any specific edits @foundjem may have in mind, I would say it's ready!

[2020-01-25 16:27] klumb commented on #290
I am marking this metric as ready for release and closing. Please reopen if that is not the case.

[2020-01-25 16:27] ccarterlandis commented on #285
Barring any specific edits @foundjem may have in mind, I would say it's ready!

[2020-01-25 16:27] ccarterlandis commented on #283
Barring any specific edits @foundjem may have in mind, I would say it's ready!

[2020-01-25 16:27] ccarterlandis commented on #282
Barring any specific edits @foundjem may have in mind, I would say it's ready!

[2020-01-25 16:40] klumb commented on #319
Looks good to me. Perhaps we should continue this discussion in working group meetings.

[2020-01-25 16:42] klumb commented on #280
I am marking this as ready for release and closing. Please reopen if that is not the case.

[2020-01-25 16:42] #280 closed

[2020-01-25 16:56] foundjem commented on #281
LGTM

Code Changes Lines (Churn)

Some suggestions, under **parameter** I think the values for parameters should be bold or italicized to make them different from the other text in that line.

For example,
<**parameter**, --description>

**Period of time** -- Start and finish date of the period. Default: forever.
The period during which changes are considered.
**Criteria for source code** -- Algor

[2020-01-25 17:01] foundjem commented on #282
My only suggestion was the duplicate entry for Mandatory parameters, else I am good.

[2020-01-25 17:06] klumb commented on #282
I believe the mandatory parameters are for the specific platforms. If there is a possibility that the parameters are different for GitHub, GitLab, and Gerrit then I think we need to keep them. @ccarterlandis, what are your thoughts?

[2020-01-25 17:23] GeorgLink commented on #319
Thank you! 🙏

[2020-01-25 17:26] GeorgLink commented on #281
@foundjem did you already open a pull request? We are preparing the metrics not for release, so any changes you submit via pull request in the next half hour, we can include in the release.

[2020-01-25 18:38] klumb commented on #286
I am marking this for release. If we need to address unresolved comments, we can do so the next release.

[2020-01-25 18:39] klumb commented on #285
I am marking this for release. If we need to address unresolved comments, we can do so in the next release.

[2020-01-25 18:39] #285 closed

[2020-01-25 18:41] klumb commented on #283
I am marking this for release. If we need to address unresolved comments, we can do so in the next release.

[2020-01-25 18:42] #283 closed

[2020-01-25 18:43] klumb commented on #282
I am marking this for release. If we need to address unresolved comments, we can do so in the next release.

[2020-01-25 18:58] klumb commented on #281
I am marking this as ready for release and closing. Please reopen if that is not the case.

[2020-01-25 19:12] klumb commented on #282
Changed mandatory parameters heading style

[2020-01-25 19:13] klumb commented on #282
I am marking this as ready for release and closing. Please reopen if that is not the case.

[2020-01-25 19:13] #282 closed

[2020-01-26 13:53] germonprez commented on #301
Right on. Thanks.

[2020-01-26 13:53] #301 closed

[2020-01-28 17:29] GeorgLink commented on #292
PR was merged and is part of the release. Closing issue to get everything ready for release.

[2020-03-11 14:45] sgoggins opened #329 "New Contributors Metrics Release Candidate"
This issue was created to collect comments about the rolling release of "New Contributors"

This thread is for comments about New Contributors

GitHub location: https://github.com/chaoss/wg-evolution/blob/master/metrics/New_Contributors.md

[2020-03-11 14:57] GeorgLink commented on #329
Read about our [Continuous Metric Contribution process](https://github.com/chaoss/governance/blob/master/community-handbook/metrics-release.md).
Feedback period will end April 8, 2020. If no feedback is provided, we will consider this metric ready for release.

[2020-03-25 14:25] sgoggins commented on #329
There are two additional metrics under consideration, "new contributors of issues" and "new contributors of commits" that the March 25, 2020 Evolution Group call suggests adding as filters to this metric. We are also going to add all the filters from the Common Group's Contributor filters to this metric.

The "Sub class" then becomes "New Contributors" with all the same filters as "Contributors".

[2020-04-06 09:10] JerryKuan opened #333 "Adjust the weekly meeting time"
I notice that the group meeting time is every other Wednesday at 12:00 pm CDT.  But for other parts of the world, this time may be the rest time in the evening. for example, China is at 1 am, which is 13 hours away from the US.  Because of this, many developers in China may not be convenient to attend.

[2020-04-06 13:09] GeorgLink commented on #333
Thanks @JerryKuan,

What would be a good time? Do you know of people who would join the calls if we changed the time?

We are open to adjusting the meeting time when it means we can accommodate more people. In the past our efforts to have times that are more suitable for China have not led to more participation and so we switched back to times more convenient for the people who regularly join the

[2020-04-07 01:39] JerryKuan commented on #333
Hi @GeorgLink , Thanks for your response.  As a matter of fact, there are 6 people in our lab interested  in CHAOSS, and we want to involve in it. Last week, we have started to follow up with 3 WGs including common, diversity and evolution. Another student and I want to follow up on this. I think two hours ahead of time may be much better, which the US is at 9 am, and China is at 10 pm. If it is n

[2020-04-07 12:44] JerryKuan commented on #276
I think it's worth adding it.  From my understanding, 'Line Impact' is a metric to clarify developer work. It measures how much each commit evolves your project's codebase.  The following is an example to test a project using 'Line Impact'.
![截屏2020-04-07 19 55 43](https://user-images.githubusercontent.com/22657829/78668622-8fa96300-790d-11ea-964d-7ca517d4a120.png)

from the figure, for each commi

[2020-04-07 18:05] GeorgLink commented on #333
That's great. I'm adding @germonprez to the conversation, because he has been leading the conversation around how we can accommodate meeting times for people in China's time zone.

[2020-04-07 19:59] germonprez commented on #333
Hi @JerryKuan

We are having our first meeting for the Asia-Pacific region on April 8, 2020 at 9am US Central Time. The connection details are at:

https://unomaha.zoom.us/j/508234161?pwd=Uy9hTm9qSEY4T3poMzczdEQ1dFZSUT09

Meeting ID: 508 234 161
Password: CHAOSS

Please feel free to drop in.

[2020-04-07 20:45] GeorgLink commented on #333
Thanks Matt!

[2020-04-07 23:59] JerryKuan commented on #333
Thanks a lot, @germonprez @GeorgLink. I look forward to participating.

[2020-04-08 14:07] sgoggins commented on #333
We meet at 9am CDT.

[2020-04-08 14:07] #333 closed

[2020-04-08 14:12] sgoggins commented on #329
We have one small pull request change from Georg, and once he resolves conflicts I believe this metric is ready for release. @klumb @GeorgLink

[2020-04-08 14:21] sgoggins opened #337 "Change to Released Metric "Reviews": Adding Two New Filters"
This issue was created to capture the continuous release notes. Insight from comments will be used to create the regular release note.

Pull Request #332  has two new filters added to the "Reviews" metric, which is released. The filters are :
1. Review Opened
2. Review Closed

[2020-04-08 14:54] GeorgLink commented on #329
Done

[2020-04-21 19:53] foundjem commented on #329
LGTM!

Signed-off-By: Armstrong <foundjem@ieee.org>

[2020-04-22 14:09] klumb opened #353 "Evolution Continous Release Notes"
This issue was created to capture the continuous release notes. Insight from comments will be used to create the regular release note.

Please coordinate Release using the release spreadsheet:
https://docs.google.com/spreadsheets/d/1tAGzUiZ9jdORKCnoDQJkOU8tQsZDCZVjcWqXYOSAFmE/edit#gid=700620500

Please add comments to this issue for each new metric.
Example comments could be:

    name of new metr

[2020-04-22 14:13] klumb commented on #353
**New Metric**
New Contributors
https://github.com/chaoss/wg-common/blob/master/focus-areas/what/types-of-contributions.md
Comment Period Issue #329
Releasing to website ... Date ??? (kl will edit)

[2020-04-22 14:36] ccarterlandis commented on #329
Review period has ended, thanks all! Ready for release.

[2020-04-22 14:37] ccarterlandis commented on #353
@klumb thanks Kevin! The New Contributors metric is ready for release on the website now. 😄

[2020-05-05 16:27] klumb commented on #337
Is this a metric that is in the comment period?

[2020-05-05 16:41] foundjem commented on #252
Is this not the same metric at the GitLab page?

Signed-off-by: Armstrong <foundjem@ieee.org>

[2020-05-05 16:47] foundjem commented on #353
Are these #353, #329 still open?

Signed-off-by: Armstrong<foundjem@ieee.org>

[2020-05-05 16:59] klumb commented on #353
@Armstrong, this issue (#353) will stay open to collect release notes for the next regular release (all metrics released). #329 was the comment period issue for the new contributors metric. It is closed because the comment period ended.

[2020-05-05 17:07] foundjem commented on #353
@klumb  OK Thanks!

Signed-off-by: Armstrong <foundjem@ieee.org>

[2020-05-06 14:17] sgoggins opened #356 "Rethinking Folders in WG-EVOLUTION Repo"
Do we need the following folders any longer:
1. implementations
2. use_cases
3. bin

Do we need the Evolution meeting notes in markdown any longer? All the other working groups are just using the google docs.

This arises from discussion during May 6, 2020 meeting.

[2020-05-06 14:18] sgoggins commented on #356
The CHAOSS philosophy on clarity of communication is "Less is More".

[2020-05-06 14:18] sgoggins commented on #356
(This philosophy has evolved over the past six months).

[2020-05-06 14:31] sgoggins commented on #337
Adding two filters to the Reviews: New Metric Release for "Review Status: Open or Closed.  Update to existing metric: Reviews.

[2020-05-06 14:33] sgoggins commented on #353
**NOT** for continuous release, but next full metrics release:
1. Update to the "Reviews" Metric to include new filters. Specifically, Adding two filters to the Reviews: New Metric Release for "Review Status: Open or Closed. Update to existing metric: Reviews.

The comment period issue is here: https://github.com/chaoss/wg-evolution/issues/337

[2020-05-06 14:42] sgoggins opened #357 "Inactive Contributors : Metric Release Candidate"
This issue was created to collect comments about the rolling release of "Inactive Contributors"

This thread is for comments about the proposed metric **Inactive Contributors**

The proposed new metric is here: https://github.com/chaoss/wg-evolution/blob/master/metrics/Inactive_Contributers.md

The Comment period start date is May 6, 2020, and will conclude on June 6, 2020.

[2020-05-06 14:48] klumb commented on #357
The markdown file needs that disclaimer added in Italics under the question -

_This metric is a release candidate The 30 day comment period for this metric begins on xx/xx/xxxx and ends on xx/xx/xxxx. To comment on this metric please see Issue #xx Following the comment period this metric will be included in the next regular release._

[2020-05-06 16:02] klumb commented on #357
I added the disclaimer in PR #358

[2020-05-06 22:43] foundjem commented on #357
LGTM!
However, I have one minor concern, especially, when we mention "getting a list of all contributors." It's important to first filter out all bots contributors, without which the list of active contributors might be biased by the influence of bots.

Signed-off-By: Armstrong <foundjem@ieee.org>

[2020-05-07 14:54] ccarterlandis commented on #356
Yes, we need the meeting notes. Google Docs is not universally accessible (e.g. it's banned in China, Sudan, Syria, many Arab countries, etc) and for potential contributors living in areas where Google is not accessible, having the meeting notes uploaded to the repo is the only they would ever be able to access them without using a VPN or proxy of some sort.

This is in my humble opinion far too h

[2020-06-13 12:31] germonprez opened #360 "Visualizing Issues and PRs"
Hi all,

I'd like to think about a way to include this figure (refine and include?) in the work that Evolution does. It is from our friends on the Asia Pacific call as a way to visualize the Issue/PR processes.

[Issues:PRs.pptx](https://github.com/chaoss/wg-evolution/files/4774570/Issues.PRs.pptx)

[2020-06-13 13:20] GeorgLink commented on #360
That's a really cool figure showing the relationship of metrics to the workflows of issues and pull requests.

Maybe this figure can be part of a focus area?

[2020-06-13 20:18] germonprez commented on #360
I think this is an excellent idea.

On Sat, Jun 13, 2020 at 8:21 AM Georg J.P. Link <notifications@github.com>
wrote:

--
Mutual of Omaha Professor
Information Systems
College of Information Science & Technology
University of Nebraska Omaha
CV: https://bit.ly/2kftONr

CHAOSS Board Member
https://chaoss.community/
matt@chaoss.community

he / him / his

[2020-06-16 19:29] foundjem commented on #360
I agree, figure looks good. However, I think it will be more useful where metrics are consumed and not defined.

Signed-off-by: Armstrong <foundjem@ieee.org>

[2020-06-17 14:22] ccarterlandis commented on #357
@klumb are we ready to move this forward for the next rolling release?

[2020-06-17 15:37] klumb commented on #353
New Metric
Inactive Contributors
https://github.com/chaoss/wg-evolution/blob/master/metrics/Inactive_Contributers.md
Comment Period Issue #357

[2020-06-17 15:44] klumb commented on #357
Yes, this can be moved to the website.

Next steps:
- [ ] Change disclaimer in markdown to read - _This metric is part of the continuous release process and has been through the 30-day review period. However, the information displayed on this page may still be edited prior to the regular release._
- [ ] Add the metric to the release notes issue #353
- [ ] Add the metric to the website Github relea

[2020-07-02 14:23] foundjem commented on #337
I have one concern here if the "continuous release notes" depends on comments. What if there is no best practice to write precise and concise commit messages? For example, some ecosystem/project enforces the commit message best practice.

Signed-off-by: Armstrong <foundjem@ieee.org>

[2020-07-14 17:03] mbbroberg commented on #357
This metric was a bit difficult to follow. I rewrote for legibility in #362. Also, the Data Collection Strategy right now reads like "go figure it out yourself" :smile:. It could reuse much of the wording in [Issue Active](https://github.com/chaoss/wg-evolution/blob/master/metrics/Issues_Active.md) to help the reader understand where to go next.

@ilam56, do you have a screenshot of graphing inact

[2020-07-31 00:05] rpaik commented on #329
The last sentence under Objectives "Welcome new contributors and thank them for their first contribution" seem incomplete?

[2020-07-31 12:04] germonprez commented on #329
Thanks @rpaik

What about something like:

An increase or decline in new contributors can be an early indicator of project health. Understanding the behavior and barriers of new community members requires knowing who they are -- helping to welcome new contributors and thank them for their efforts.

[2020-08-06 15:42] germonprez opened #363 "Lines and Files is now an Evoluation Metric"
Hi @dicortazar and @sgoggins

In today's (Aug 6th, 2020) Common WG meeting, we decided to move the Lines and Files metric out of Common and into Evolution. We look forward to this metric moving forward in your WG :)

[2020-08-07 18:20] klumb commented on #357
@sgoggins
Is this metric ready?

[2020-08-07 18:20] klumb commented on #337
@sgoggins
Is this metric ready?

[2020-08-07 18:20] klumb commented on #329
@sgoggins
Is this metric ready?

[2020-08-07 18:53] sgoggins commented on #357
@klumb : Yes.

[2020-08-07 18:54] sgoggins commented on #337
@klumb : Yes.

[2020-08-07 18:54] #337 closed

[2020-08-07 18:56] sgoggins commented on #353
@klumb ... this was released under the continuous release  process.  It looks like I missed the two filters comment I made for metrics release, so I will add them now.

[2020-08-07 18:58] sgoggins commented on #353
@klumb : The reviews filter updates were already there, so I just edited out the review period text at the top of this metric.

[2020-08-07 18:58] sgoggins commented on #329
@klumb : Ready.

[2020-08-08 19:40] klumb commented on #353
closing for release 2020-08

[2020-08-08 19:40] #353 closed

[2020-08-08 19:41] klumb opened #366 "Release Notes - 2021-02"
This issue was created to capture the continuous contribution notes. Insight from comments will be used to create the regular release notes.

Example comments could be:

name of new metric and date of release
descriptions of changes to existing metric
Changes to focus areas or restructuring of WG

[2020-09-02 02:10] king-gao opened #368 "Add new Metrics about branch lifecycle"
In my opinion, there are some  branch indicators are metrics for community healthy.

The branch lifecycle managment  reflect the community is active,the maintainer is concern the develop branch is merge into master branch,and after merge the develop branch should be deleted , the branch list is clear for anyone to understand the status of branch.

we can metrics how many branchs are still on the b

[2020-09-23 14:19] sgoggins commented on #368
King,

Are we wanting to keep a list of branches at a point in time, and show delta's related to:
1. branches deleted between t1 and t2
2. branches added between t1 and t2
3. total branches along t1, t2, tn .... ?

[2020-09-23 14:22] sgoggins commented on #363
In the spreadsheet.

[2020-09-23 14:22] #363 closed

[2020-09-23 14:26] sgoggins commented on #360
I think the request here is to integrate visualizations related to two categories of metrics: Issues and PRs. Is that right? @germonprez and @foundjem

Would the goal to be create non-atomic metric that integrates existing metrics, or is the goal to create issues in Augur and Grimoirelab to create new visualizations. Much of this is in the repository https://github.com/chaoss/augur-community-repor

[2020-09-23 14:32] sgoggins commented on #360
We've added the powerpoint as a google slide here: https://docs.google.com/presentation/d/1kRoAkCzeKxwAlqdnbGkjgPA3b9SWvSqJEkrBKU1k_AM/edit#slide=id.p1

Is a copy of the powerpoint where we note the valences of red and green are different in Chinese culture.

[2020-09-24 02:03] king-gao commented on #368
Hi Sean, I agree with you 👍 .
others metrics for example :

- How many branches have been merged but not deleted?

- How long branch have been merged and not deleted?

- How many branches have been open more than XXX days?

- etc.
these are interesting metrics .

[2020-10-07 14:16] sgoggins commented on #368
@king-gao : When you ask this question:

"How many branches have been open more than XXX days?"

I think you are asking about "branch on an open pull request?"

[2020-10-07 14:29] sgoggins opened #371 "Changing names of the main"
Tooling needs to handle the changing of the default branch name on platforms like Github, where it is now `main` instead `master`.

Current tooling (Augur and Grimoirelab) will handle whatever the default branch was when we first cloned the repository. Most tools are not designed to handle default branch changes, but we will need to likely address this in the near future.

@dicortazar -- I don't t

[2020-10-07 14:31] germonprez opened #372 "Not sure if this metric is a candidate for changing Reviews to Change Requests"
https://github.com/chaoss/wg-evolution/blob/master/metrics/New_Contributors_Code_Reviews.md

[2020-10-07 14:44] sgoggins commented on #360
Need to add "issue reopened" as a filter on current issue metrics.

[2020-10-07 14:48] sgoggins commented on #360
We should think about whether or not an issue is reopened and associated with a particular pull request. @foundjem points out that the likelihood of introducing bugs increases the more we touch a particular issue.

[2020-10-07 14:49] sgoggins commented on #360
[Issues.PRs.pptx](https://github.com/chaoss/wg-evolution/files/5341548/Issues.PRs.pptx)
A few comments embedded in this powerpoint (questions)

[2020-10-07 20:14] germonprez opened #376 "Why are my PRs triggering errors in Travis"
@sgoggins why are my PRs to update the metrics in this WG not passing Travis checks?

[2020-10-08 17:43] sgoggins commented on #376
@germonprez : Its not you. There must be some jupyter notebooks remaining after we did some cleanup. I'll check.

[2020-10-08 17:49] sgoggins commented on #376
@germonprez : I deleted the webhook for travis-ci, as we are no longer building software examples, and the integration was significantly out of date.

You can *ignore* the Travis-CI errors. New PRs should not have them.

[2020-10-08 17:55] germonprez commented on #376
@sgoggins do I need to reissue these PRs?

[2020-10-09 15:41] sduenas commented on #376
@germonprez do you have access to this repo in Travis: https://travis-ci.org/github/chaoss/wg-evolution? can you manage it? I found that I don't have access anymore to all the grimoirelab repositories on https://travis-ci.org/ anymore.

[2020-10-09 16:58] germonprez commented on #376
Thanks @sduenas. I think that @sgoggins has sorted this out.

I still don't know if I have to reissue the PRs :)

[2020-10-10 08:51] king-gao commented on #368
@sgoggins yes ,  If the PRs were been merged , shall we need to delete them in the public repo?

like the picture below , there are many branchs. why we are not delete them?

<img width="193" alt="20201010-164600(eSpace)" src="https://user-images.githubusercontent.com/58930496/95650754-1ab32200-0b18-11eb-80a5-d0ca3c309c9e.png">

[2020-10-21 14:15] klumb commented on #366
Metrics Name changes:
1. - Update and rename Reviews_Duration.md to Change_Requests_Duration.md #377
2. - Update and rename Reviews_Declined.md to Change_Requests_Declined.md #375
3. - Update and rename Reviews_Accepted.md to Change_Requests_Accepted.md #374
4. - Update and rename Reviews.md to Change_Requests.md #373
5. - Update and rename Code_Review_Iteration.md to Code_Change_Request_Ite…#370

[2020-10-21 14:21] #376 closed

[2020-10-21 14:35] sgoggins commented on #368
We discussed this during the call for Evolution WG on 10/21 -- (Also notes from the Asia Pacific Call)

Examining the lifecycle of a branch
 - Branch deletion?
 - Branch dormancy?

What is the indicator of branch “death”. For example, if a branch has the word “patch” in a name, then it is likely a dormant branch. Especially if it had never been involved since the changes in the branch were merged.

[2020-10-21 14:35] ElizabethN commented on #368
Notes from the Asia Pacific Call:
Open Issue discussion: Open branch lifecycle: https://github.com/chaoss/wg-evolution/issues/368

What do we do with branches that are not needed anymore?

Question: How do we know if a branch is not needed anymore?

Can we have a metrics focused on telling us how many branches have not been active in the last X months?

List of those branches

How many branches ha

[2020-10-23 04:12] king-gao opened #382 "Add new metrics for Mapping between PR/MRs and issues"
In a healthy community, **one PR/MR mapping to one issue.**
If one PR/MR mapping to multiple issues, the PR granularity is too large. If one PR/MR does not have issues, it is abnormal, all PRs/MRs are based on requirements (fix security vulnerabilities, bugs, or small functions and features). in this way, PRs/MRs can better trace requirements and manage requirements in the community better.
Maybe

[2020-10-23 12:55] GeorgLink commented on #382
It seems reasonable on first sight. Here is a related idea to check whether issues were automatically closed by the merging of a PR: https://github.com/chaoss/wg-evolution/issues/243

[2020-10-23 13:26] king-gao commented on #360
Fisrt time I made this PPT beacause when I first jump-in CHAOSS community there are 173 metrics(include done and TBD), I was confuse and I found many metrcis are relate to PR and ISSUE workflow,of course their are two most important workflow in community.I think this can help beginner to understand CHAOSS more easily.

When I draw the workflow,I found a interesting thing(I will explain it in the f

[2020-10-23 14:05] king-gao commented on #382
Hi @GeorgLink 👍

Maybe we can consider the two metrics  together, your [issue #243](https://github.com/chaoss/wg-evolution/issues/243) is consider from issue side ; then this [issue #382](https://github.com/chaoss/wg-evolution/issues/382) is from PR side.

so, can we list all the scenarios between issue and PR(If the PR equal to code changed):

Number of issue | Number of PR |
-- | -- |
1 | 1 |
1

[2020-10-23 14:52] GeorgLink commented on #382
@king-gao I like where you're taking this. Expanding your table a bit:

Number of issue | Number of PR | Conclusion
-- | -- | --
1 | 1 |  BEST
0 | 1 | PR links to issue only
1 | 0 |  Issue links to PR only
1 | N |  PR too big
0 | N | PR too big
N | 1 |  Issue too big
N | 0 | Issue too big

[2020-10-25 16:42] foundjem commented on #382
Hello @king-gao  and @GeorgLink,
Are we still talking about PR/MR? I think that we had a discussion in the evolution working group concerning this, which was agreed upon as "Change Request."

Irrespective of the naming convention, I like the discussion line on the relationship between "Issues and PR."  In effect, this seems like a many-to-many relationship that is decomposable following the illust

[2020-10-26 15:33] klumb opened #383 "Release/Revision Change_Requests_Duration.md"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about Change_Requests_Duration.md

GitHub location: https://github.com/chaoss/wg-evolution/blob/master/metrics/Change_Requests_Duration.md

See all release candidates of metrics are at: https://chaoss.community/metrics/

[2020-10-26 15:34] klumb commented on #383
Name change revision - From "reviews to "change request"

[2020-10-26 15:36] klumb opened #384 "Release/Revision Change_Requests_Declined.md"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about Change_Requests_Declined.md

GitHub location: https://github.com/chaoss/wg-evolution/blob/master/metrics/Change_Requests_Declined.md

See all release candidates at: https://chaoss.community/metrics/

[2020-10-26 15:36] klumb commented on #384
Name change revision - From "reviews to "change request"

[2020-10-26 16:24] klumb opened #385 "Release/Revision Change_Requests_Accepted.md"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about Change_Requests_Accepted.md

GitHub location: https://github.com/chaoss/wg-evolution/blob/master/metrics/Change_Requests_Accepted.md

See all release candidates at: https://chaoss.community/metrics/

[2020-10-26 16:24] klumb commented on #385
Name change revision - From "reviews to "change request"

[2020-10-26 16:28] foundjem commented on #385
Change Request LGTM!

Signed-Off-By: Armstrong<foundjem@ieee.org>

[2020-10-26 16:31] klumb opened #386 "Release/Revision Change_Requests.md"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about Change_Requests.md

GitHub location: https://github.com/chaoss/wg-evolution/blob/master/metrics/Change_Requests.md

See all release candidates: https://chaoss.community/metrics/

[2020-10-26 16:31] klumb commented on #386
Name change revision - From "reviews to "change request"

[2020-10-26 16:31] foundjem commented on #384
Change Request LGTM!

Signed-Off-By: Armstrong<foundjem@ieee.org>

[2020-10-26 16:32] foundjem commented on #383
Change Request LGTM!

Signed-Off-By: Armstrong <foundjem@ieee.org>

[2020-10-26 16:34] klumb opened #387 "Release/Revision Code_Change_Requests_Iteration.md"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about Code_Change_Requests_Iteration.md

GitHub location: https://github.com/chaoss/wg-evolution/blob/master/metrics/Code_Change_Requests_Iteration.md

See all release candidates: https://chaoss.community/metrics/

[2020-10-26 16:34] klumb commented on #387
Name change revision - From "reviews to "change request"

[2020-10-26 16:35] klumb opened #388 "Release/Revision Code_Change_Requests_Efficiency.md"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about Code_Change_Requests_Efficiency.md

GitHub location: https://github.com/chaoss/wg-evolution/blob/master/metrics/Code_Change_Requests_Efficiency.md

See all release candidates: https://chaoss.community/metrics/

[2020-10-26 16:36] klumb commented on #388
Name change revision - From "reviews to "change request"

[2020-10-26 17:29] klumb commented on #366
@sgoggins  are 5 and 6 actually being released? I don't see them in them in https://docs.google.com/spreadsheets/d/1tAGzUiZ9jdORKCnoDQJkOU8tQsZDCZVjcWqXYOSAFmE/edit#gid=1004270137

[2020-10-26 17:30] klumb commented on #388
Not part of the release - closing

[2020-10-26 17:30] #388 closed

[2020-10-26 17:32] klumb commented on #387
Not part of the release - closing

[2020-10-26 17:32] #387 closed

[2020-10-26 17:57] klumb commented on #366
1 to 4 are now live on the website

[2020-10-27 08:46] alpgarcia opened #389 "Renaming MD documents shouldn't break previous links"
One quick comment related to changing metric names (I'm sorry if you already discussed this). When changing the MD file name, the previous link stops working, e.g.: https://chaoss.community/metric-reviews/

The problem with this is we could be breaking third parties' links to CHAOSS that now will point to a 404 error. It happened to me in a couple of documents. Not a big problem for me because I k

[2020-10-27 10:55] germonprez commented on #389
I'm going to cross post this issue in the website repo too.

[2020-10-27 13:20] alpgarcia commented on #389
Thanks @germonprez !

I first wrote it as a comment on the specific metric, then I moved it to a separate issue. It makes much more sense in the website repo :)

[2020-11-02 17:22] sgoggins commented on #389
I think LF would be ok with this plugin, or one like it. There's not any real danger to them. We learn of broken links and map them. Its not a security issue. We should argue for that.

https://wordpress.org/plugins/404-redirected/

[2020-11-02 17:27] sgoggins commented on #389
https://redirection.me/ is a very popular and good one that can be used to automatically note, and redirect to the new page. It does rely on a restful API, but I've run this one on my personal website for years without issue and its a lot of help.

[2020-11-02 17:57] sgoggins commented on #389
These screen shots provide pretty good direction.

The migration would be something like:

1. new.chaoss.community goes into a new host.
2. We do the data export from the old host
3. Install the same plugins and themes on the new host
4. Import the data for the new host
5. Test
6. flip chaoss.community over to the new host.

![Screen Shot 2020-11-02 at 11 44 46](https://user-images.githubuserconte

[2020-11-04 15:15] ccarterlandis commented on #372
We went ahead and decided to change the metric title to "New Contributors Change Requests", in order to keep language consistent. Metric: https://github.com/chaoss/wg-evolution/blob/master/metrics/New_Contributors_Change_Requests.md

[2020-11-04 15:15] #372 closed

[2020-11-04 15:18] ccarterlandis commented on #356
I believe all these folders were removed some time ago. Closing this issue, since it's been addressed

[2020-11-04 15:18] #356 closed

[2020-11-13 01:59] wbharding commented on #276
Hey there, I'm the programmer who built this metric. 👋  Feel free to drop me a line if you would like to collaborate on how it could be used in your project. I've been actively seeking out kindred spirits who want to better quantify ground truth software metrics. After five years of iterating on Line Impact and using internally, I'm pretty confident that it provides a type of signal that is reliab

[2020-11-13 18:53] GeorgLink commented on #276
Thanks for chiming in @wbharding!

The video is excellent!

Would you like to see Line Impact added as a metric to the CHAOSS project?
If yes, the next step would be for someone to complete the [metric template](https://github.com/chaoss/metrics/blob/master/activity-metrics/metric-template.md) and then discuss the metric in our meetings.

Regarding the trademark, we want to be respectful of your i

[2020-11-14 02:48] wbharding commented on #276
Hey @GeorgLink thanks so much for the kind words! [Here's my stab at completing the metric template](https://public.amplenote.com/3HqxyC/line-impact-chaoss-metric-candidate).

As alluded to in the responses, we are a relatively small, bootstrapped company. To the extent that the CHAOSS team or users could assist us in the effort to experimentally confirm the stability & utility of Line Impact for

[2020-11-23 14:25] foundjem commented on #386
The name change looks good to me 👍

Signed-Off-By: Armstrong <foundjem@ieee.org>

[2020-12-02 14:34] sgoggins commented on #382
@foundjem / @king-gao  / @GeorgLink : We do have this information in Augur.

[2020-12-02 14:47] germonprez commented on #382
Start of the Metric:
https://docs.google.com/document/d/1uD_2dOmuaakwq5-frV8Pgg9Yf4p_P-vCrvnaDnP55B0/edit

Placed in Metrics Spreadsheet:
https://docs.google.com/spreadsheets/d/1tAGzUiZ9jdORKCnoDQJkOU8tQsZDCZVjcWqXYOSAFmE/edit#gid=1004270137

[2021-02-01 17:17] sgoggins opened #392 "Release/Change_Request_Acceptance_Ratio.md"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about Change_Request_Acceptance_Ratio.md

GitHub location: https://github.com/chaoss/wg-evolution/blob/master/metrics/Change_Request_Acceptance_Ratio.md

See all release candidates: https://chaoss.community/metrics/

[2021-02-01 17:18] sgoggins opened #393 "Release/Branch_Lifecycle.md"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about Branch_Lifecycle.md

GitHub location: https://github.com/chaoss/wg-evolution/blob/master/metrics/Branch_Lifecycle.md

See all release candidates: https://chaoss.community/metrics/

[2021-02-03 17:17] friyaz opened #395 "Standardize working groups repositoryoy structure"
Hello everyone,

We are trying to make a standard and uniform repository structure for all working groups of CHAOSS. This will make things easier for new members. See this [document](https://docs.google.com/document/d/1chPzgJa49sO_f3wVqp_NLJupSVyKHSVyuFuwzl4m4KI/edit#) to know details about the proposed repo structure.

Please provide your feedback or concern about this proposal.

[2021-02-16 00:07] rpaik commented on #383
Is there a reason why we would not consider PRs/MRs that are not accepted? If a change request is not accepted for valid reasons (e.g. the change would introduce a bug), I think it makes sense to include that change request if the goal of this metrics is to see how responsive reviewers are to change requests.

[2021-02-16 00:46] foundjem commented on #383
@rpaik,  are you suggesting that we include change requests that were not accepted? If that is the case, we may have to consider abandoned circumstances, which will make it almost impossible to compute the duration.

Signed-Off-By: Armstrong <foundjem@ieee.org>

[2021-02-16 05:59] rpaik commented on #383
@foundjem how about if we consider change requests that have either been accepted or closed? The abandoned change requests will then be excluded.

[2021-03-06 16:29] klumb opened #397 "Release Notes 2021-09"
This issue was created to capture the continuous contribution notes. Insight from comments will be used to create the regular release notes.

Example comments could be:

name of new metric and date of release
descriptions of changes to existing metric
Changes to focus areas or restructuring of WG

[2021-03-06 17:07] klumb commented on #397
New metrics include:
        Branch lifecycle
        Change Request Acceptance ratio
    Name Change Revision
        Change Requests accepted
        Change Requests declined
        Change Requests Duration
        Change Requests

[2021-03-06 17:14] klumb commented on #397
closing for release 2021-03

[2021-03-06 17:14] #397 closed

[2021-03-06 17:21] klumb commented on #393
closing for release

[2021-03-06 17:21] #393 closed

[2021-03-06 17:21] klumb commented on #392
closing for release

[2021-03-06 17:21] #392 closed

[2021-03-06 17:22] klumb opened #398 "Release Notes 2021-09"
This issue was created to capture the continuous contribution notes. Insight from comments will be used to create the regular release notes.

Example comments could be:

name of new metric and date of release
descriptions of changes to existing metric
Changes to focus areas or restructuring of WG

[2021-03-06 17:23] klumb commented on #366
closing for release

[2021-03-06 17:23] #366 closed

[2021-03-06 17:24] klumb commented on #366
New metrics include:
    Branch lifecycle
    Change Request Acceptance ratio
Name Change Revision
    Change Requests accepted
    Change Requests declined
    Change Requests Duration
    Change Requests

[2021-03-06 17:24] klumb commented on #386
closing for release

[2021-03-06 17:24] klumb commented on #385
closing for release

[2021-03-06 17:24] klumb commented on #384
closing for release

[2021-03-06 17:25] klumb commented on #383
closing for release

May want to address this last comment in the next release

[2021-03-25 11:19] xiaoya-Esther opened #400 "These may be errors of the metric 'Issue Closed'"
When reviewing translations of the metric **Issue Closed**, here is what I found that confused me. Are the phrases "active issues" in black circles actually refer to "closed issues"?

![image](https://user-images.githubusercontent.com/56542972/112464029-f3869f00-8d9d-11eb-9bf2-6067cad47484.png)

[2021-03-31 03:56] yash2002109 opened #402 "Different folder for 'completed' and 'under development' metrics"
Hi Everyone,

I was working on classifying the metrics into their respective focus areas (#395). While classifying I noticed that in the [metrics](https://github.com/chaoss/wg-evolution/tree/master/metrics) folder a lot of metrics seem to be in the stage of development. . So I was thinking of doing the following changes.

- Move the developed metrics to a new 'focus-areas' folder.
- The ones in th

[2021-03-31 14:08] sgoggins commented on #233
This is now under active discussion again, and will include commits in the change.

[2021-03-31 14:08] #233 closed

[2021-03-31 14:10] sgoggins commented on #243
This would require consistent practices on development team. Connecting a change request with an issue is possible, but again, this requires the project to follow the practice making these associations. Until it is automated, as Jesus notes, it is kind of an impractical ambition to do this, AND be consistent, and accurate across repositories.

[2021-03-31 14:10] #243 closed

[2021-03-31 14:18] sgoggins commented on #360
This is more of a request for community reports, and I'm wondering if @chaoss/augur or GrimoireLab would be interested in developing a tool like this. I will see about transferring this to another issue.

[2021-03-31 14:21] sgoggins commented on #368
This metric is now released: https://chaoss.community/metric-branch-lifecycle/

[2021-03-31 14:21] #368 closed

[2021-03-31 14:21] sgoggins commented on #371
Testing needs to be performed to see how current CHAOSS tools handle these types of changes.

[2021-03-31 14:24] sgoggins commented on #382
This metric is under development. We will need to caveat this metric, however, because the practice of linking of issues to pull requests will be idiosyncratic to each repository.

[2021-03-31 14:25] li-clement opened #403 "Add new matrics for labels/tags associated with issue/PR"
When we respond to an issue or review a PR, we usually hope that the Issue/PR is clearly classified and described in detail. Many communities use labels/tags system for issue/PR classification. The labels/tags associated with an issue affect the developer's understanding of the Issues/PR and the time of feedback. So I think we can have some metrics for labels/tags

- How many labels/tags are attac

[2021-03-31 14:28] sgoggins commented on #395
This is currently being worked on at the CHAOSS community level. There will be separate folders for completed metrics. Incomplete, unreleased metrics will only be in Google Documents.  These documents can be found in this spreadsheet: https://docs.google.com/spreadsheets/d/1tAGzUiZ9jdORKCnoDQJkOU8tQsZDCZVjcWqXYOSAFmE/edit#gid=1004270137

[2021-03-31 14:29] #395 closed

[2021-03-31 14:35] sgoggins commented on #400
fixed in pull request #404

[2021-03-31 14:35] #400 closed

[2021-03-31 14:37] sgoggins commented on #402
The CHAOSS Community decided that we will remove metrics under development from the repository, and and link them to this spreadsheet, which contains links to google docs where the metrics are under development: https://docs.google.com/spreadsheets/d/1tAGzUiZ9jdORKCnoDQJkOU8tQsZDCZVjcWqXYOSAFmE/edit#gid=1004270137

[2021-03-31 14:37] #402 closed

[2021-03-31 14:41] ElizabethN commented on #400
Thanks for catching this @xiaoya-Esther!

[2021-03-31 14:53] sgoggins opened #405 "Reorganize Repository According to CHAOSS Standard"
https://docs.google.com/spreadsheets/d/1tAGzUiZ9jdORKCnoDQJkOU8tQsZDCZVjcWqXYOSAFmE/edit#gid=1004270137

[2021-03-31 14:58] robekeane commented on #403
Thanks, @sgoggins

[2021-03-31 16:41] wbharding commented on #276
Hey @sgoggins, thanks for following up on this! It's a bit unclear to me what sort of answer you might be after, but I'll try to answer a few of the questions that seem relevant. :)

Firstly, since my previous comment, [we've published this research/dataset that illustrates the correlation between Story Points and each of commits, LoC, and Line Impact](https://www.gitclear.com/blog/line_impact_res

[2021-04-14 18:46] GeorgLink commented on #405
Next: remove `focus_areas` and `metrics` folders from the root of the repo.

[2021-04-14 18:53] yash2002109 commented on #405
@GeorgLink, Should I submit the required PR for this?

[2021-04-14 19:00] GeorgLink commented on #405
Yes, a PR would be great!

[2021-04-14 19:17] yash2002109 commented on #405
I see many metric files in the `metrics` folder that are not listed in the spreadsheet. I hope it's okay to delete those files..?

[2021-04-14 19:22] klumb commented on #405
@yash2002109

Yes, you can delete them.

[2021-04-14 19:42] yash2002109 commented on #405
Also, I noticed that there is `standard-readme` badge for the [README](https://github.com/chaoss/wg-evolution/blob/master/README.md) file of this working group. I was wondering if we could incorporate the badge in README files of other working groups too?

[2021-04-16 17:03] yash2002109 opened #408 "Standard Structure for README.md in each WG repo"
Hi everyone,

While standardizing the repositories, I noticed that the [README](https://github.com/chaoss/wg-evolution/blob/master/README.md) file of each working group has a different structure. After discussing with @GeorgLink, I have drafted a proposal for a common structure that can be implemented across these README files. I have also replicated the same as a [template](https://github.com/yas